@use "vars" as *;
@use "animations";

@font-face {
  font-family: Alata;
  font-style: normal;
  src: url("/fonts/Alata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: WixMadeforDisplay;
  font-style: normal;
  src: url("/fonts/WixMadeforDisplay-VariableFont.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: Alata, WixMadeforDisplay, sans-serif;
  font-size: 10px;
  font-weight: 550;
}

body {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  margin: 0;
  background-color: var(--app-background-color);
  color: var(--text-color);
  font-size: 1.5rem;
  overflow-x: hidden !important;
}

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  display: flex;
  width: 100vw;
  flex: 1;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  display: block;
  width: 100%;
  height: 3rem;
  border: none;
  background-color: transparent;
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  margin: 0;
  background: none;
  color: var(--text-color);
  cursor: pointer;
  font-family: inherit;
  transition: all 0.1s linear;

  &:focus {
    outline: none;
  }
}

svg {
  fill: var(--icon-fill);
}
