.skeleton {
  color: inherit;
}

html:global(.light) .skeleton {
  --skeleton-base-color: var(--app-background-color);
  --skeleton-highlight-color: var(--element-border-color);
}

html:global(.dark) .skeleton {
  --skeleton-base-color: var(--element-background-color);
  --skeleton-highlight-color: var(--element-border-color);
}
