@import "@styles/vars";

.save {
  :global {
    .tooltip__tooltip {
      top: -2.5rem;
      right: 0;
      width: max-content;
    }

    .switch__checkbox:checked {
      & ~ .tooltip__tooltip {
        border-color: var(--success-color);
        color: var(--success-color);
      }

      & ~ .switch__switch {
        border-color: var(--success-color);

        &::after {
          background-color: var(--success-color);
        }
      }

      & ~ svg {
        fill: var(--success-color);
      }
    }
  }
}

.export {
  font-size: 1.6rem;
}
