@import "@styles/vars";

.save {
  :global {
    .tooltip__tooltip {
      right: 0;
    }

    .switch__checkbox:checked {
      & ~ .tooltip__tooltip {
        border-color: var(--success-color);
        color: var(--success-color);
      }

      & ~ .switch__switch {
        border-color: var(--success-color);

        &::after {
          background-color: var(--success-color);
        }
      }

      & ~ svg {
        fill: var(--success-color);
      }
    }
  }
}
