@import "@styles/vars";

.logo {
  svg {
    width: 18px;
    height: 18px;
    fill: var(--icon-fill);
    transition: all 0.2s;
  }
}

.delete {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--dark-color);
  visibility: hidden;

  svg {
    width: 15px;
    height: 15px;
    fill: var(--light-color);
  }

  &:hover {
    background-color: var(--active-color);

    svg {
      fill: var(--active-secondary-color);
    }
  }
}

.add_img {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 20%;
  min-width: 6rem;
  height: 7rem;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  margin-left: 1rem;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s;

  & .delete {
    visibility: inherit;
  }

  & .logo,
  & span {
    display: none;
  }

  span {
    font-size: 1rem;
  }

  &[data-imgurl~="false"] {
    height: auto;
    padding: 1rem 0;
    border: 2px dashed var(--border-color);

    & .delete {
      visibility: hidden;
    }

    & .logo,
    & span {
      display: inline-block;
    }
  }

  &:hover .logo svg {
    fill: var(--active-color);
  }
}

html:global(.light) .add_img {
  --border-color: var(--subtle-text-color);
}

html:global(.dark) .add_img {
  --border-color: var(--subtle-text-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.img {
  width: 100%;
  height: 125%;
}
