@import "@styles/vars";

.sr_indicator {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.question {
  width: 100%;
  padding: 2.5rem 4rem;
  border: 1px solid var(--element-border-color);
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: var(--element-background-color);

  &:focus {
    outline: none;
  }

  @media (max-width: $mobile) {
    padding: 1.5rem 3rem;
  }
}

.container {
  position: relative;
}

.do_not_know {
  margin-bottom: 3.5rem;
  color: var(--secondary-element-background-color);
  text-align: right;
  transition: all 0.2s;

  & span {
    cursor: pointer;

    &:hover {
      color: var(--alternative-active-color);
    }
  }
}

.img_container {
  margin-bottom: 2rem;
}

.img {
  width: 32rem;
  height: 30rem;

  @media (max-width: $mobile) {
    width: 24rem;
    height: 23rem;
  }

  @media (max-width: $mobile-sm) {
    width: 100%;
  }
}

.definition {
  min-height: 5rem;
  padding-bottom: 2.75rem;
  font-size: 1.7rem;
}

.form {
  display: flex;
  padding-top: 1.5rem;
  border-top: 1px solid var(--element-border-color);
  margin-top: 1.5rem;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.fieldset {
  flex: 1;
  border: none;

  & :global(.text_label__label) {
    color: var(--subtle-text-color);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
}

.input {
  &:global(.input__container) {
    padding: 0.2rem 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s;
  }

  & :global(.input__input) {
    font-size: 1.7rem;
  }
}

.btn_container {
  margin-left: 2rem;

  @media (max-width: $mobile) {
    margin-top: 2rem;
    margin-left: 0;
  }

  button {
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: var(--secondary-element-background-color);
    color: var(--reverse-color);
    font-size: 1.5rem;

    @media (max-width: $mobile) {
      padding: 1rem 2rem;
    }

    &:hover {
      background-color: var(--alternative-active-color);
      color: var(--active-secondary-color);
    }
  }
}

.speaker {
  position: absolute;
  right: 0;
  bottom: 0;

  svg {
    width: 22px;
    height: 22px;
  }
}

.transcription_hidden {
  background-color: var(--subtle-text-color);
  color: var(--subtle-text-color);
  transition: all 0.2s;
  user-select: none;

  &:hover {
    background-color: inherit;
    color: inherit;
  }
}
