@use "@styles/vars" as *;

.gallery {
  display: block;
  padding: 2rem;
  transform: translateY(-100%);
  transform-origin: top;
  transition: all 0.3s;
}

.container {
  display: block;
  overflow: hidden;
  height: 0;
  border-top: 1px solid var(--element-border-color);
  transition: all 0.3s;
  visibility: hidden;

  &.active {
    height: 25.5rem;
    visibility: inherit;

    & .gallery {
      transform: translateY(0);
    }
  }
}

.form {
  width: 45%;
  min-width: 40rem;

  @media (max-width: $mobile) {
    width: 100%;
    min-width: 100%;
  }
}

.icon {
  cursor: pointer;
}

.input {
  padding-left: 1rem;

  .icon {
    fill: var(--icon-fill);
  }

  :global(.input__input) {
    &:not(:placeholder-shown) {
      & ~ .icon {
        fill: var(--success-color);
      }
    }
  }
}

.results {
  position: relative;
  margin-top: 2rem;
}
