@use "@styles/vars" as *;

.dropdown {
  position: fixed;
  z-index: 45;
  top: 0;
  right: 0;
  display: none;
  height: 200rem;
  flex-direction: column;
  border-left: 1px solid var(--element-border-color);
  background-color: var(--element-background-color);
  transform: translateX(110%);
  transition: transform 0.2s ease-out;
  will-change: transform;

  &.active {
    transform: translateX(0);
  }

  &.isGame {
    @media (max-width: $tablet) or (max-height: $h-mobile) {
      display: flex;
    }
  }

  @media (max-width: $mobile) {
    display: flex;
  }
}
