@use "@styles/vars" as *;

.container {
  display: flex;
  height: 4rem;
  align-items: center;
  padding: 0.5rem;
  border-color: var(--input-border-color);
  border-bottom: 1px solid var(--input-border-color);
  cursor: text;

  &:focus-within {
    border-color: var(--active-color);
  }

  &.movingBorder {
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 0;
      content: "";
      transition: all 0.2s;
    }

    &:focus-within {
      &::after {
        height: 2px;
        background-color: var(--active-color);
        transform: translateY(2px);
      }
    }
  }

  &.error {
    border-color: var(--danger-color);
  }
}

.input {
  flex: 1;
  color: var(--text-color);
  font-size: 1.7rem;
}
