@import "@styles/vars";
@import "@styles/animations";

.info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.indicator {
  position: relative;
  display: flex;
  align-items: center;

  svg {
    width: 22px;
    height: 22px;
    fill: var(--icon-fill);
  }

  :global {
    .indicator__dots {
      position: absolute;
      top: -0.6rem;
      left: -0.6rem;
      width: 3.4rem;
      height: 3.4rem;
      animation: rotate 35s linear infinite;
      opacity: 0;
      transform-origin: center;
      transition: all 0.2s;
    }

    .indicator__dot {
      position: absolute;
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      background-color: var(--success-color);
      transform: translate(-50%, -50%);
    }
  }

  &.small {
    :global {
      .indicator__dots {
        top: -0.5rem;
        left: -0.5rem;
        width: 2.7rem;
        height: 2.7rem;
      }

      .indicator__dot {
        width: 0.4rem;
        height: 0.4rem;
      }
    }

    svg {
      width: 17px;
      height: 17px;
      fill: var(--icon-fill);
    }
  }

  &.active {
    svg {
      fill: var(--success-color);
    }

    :global {
      .indicator__dots {
        opacity: 1;
      }
    }

    & ~ :global(.tooltip__tooltip) .info {
      color: var(--success-color);
    }
  }
}

html:global(.light) .indicator,
html:global(.dark) .indicator {
  --sr-indicator-stage-1: #0000dc;
  --sr-indicator-stage-2: #00817d;
  --sr-indicator-stage-3: #238e24;
  --sr-indicator-stage-4: #afd510;
  --sr-indicator-stage-5: #fce72c;
  --sr-indicator-stage-6: #ffca2c;
  --sr-indicator-stage-7: #fc7300;
  --sr-indicator-stage-8: #f32a00;
  --sr-indicator-stage-9: #da0000;
  --sr-indicator-stage-10: #b10067;
  --sr-indicator-stage-11: #54267b;
}

html:global(.dark) .indicator {
  --sr-indicator-stage-1: #5858ff;
  --sr-indicator-stage-11: #8d39d6;
}
