@import "@styles/vars";

.container {
  position: relative;
}

.dropdown {
  position: fixed;
  z-index: 45;
  top: 0;
  right: -200px;
  display: none;
  height: 200rem;
  flex-direction: column;
  border-left: 1px solid var(--element-border-color);
  background-color: var(--element-background-color);
  transition: right 0.3s ease;

  &.active {
    right: 0;
  }

  &.isGame {
    @media (max-width: $tablet) or (max-height: $h-mobile) {
      display: flex;
    }
  }

  @media (max-width: $mobile) {
    display: flex;
  }
}
