@import "@styles/vars";

.dropdown {
  position: fixed;
  z-index: 45;
  top: 0;
  right: -200px;
  display: flex;
  height: 200rem;
  flex-direction: column;
  border-left: 1px solid var(--element-border-color);
  background-color: var(--element-background-color);
  transition: right 0.3s ease;

  &.active {
    right: 0;
  }
}

.hide_min_tablet {
  @media (min-width: $tablet) {
    display: none;
  }
}

.hide_min_mobile {
  @media (min-width: $mobile) {
    display: none;
  }
}
