@use "@styles/vars" as *;

.score {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;

  &.correct {
    color: var(--success-color);
  }

  &.incorrect {
    color: var(--danger-color);
  }

  &:not(:last-child) {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--element-border-color);
    margin-bottom: 1.5rem;
  }
}

.title {
  flex: 1;
}

.number {
  display: inline-block;
  margin-left: 2.5rem;
}

.percent {
  display: inline-block;
  margin-left: 2.5rem;
}
