@import "@styles/vars.scss";

.container {
  display: flex;
  align-items: center;

  :global(.tooltip__tooltip) {
    top: -3rem;
    right: 1.5rem;
    width: max-content;
  }

  & svg {
    margin-left: auto;
    margin-right: 1rem;
    fill: $grey;
    transition: all 0.2s;
  }

  :global(.switch__switch) {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 28px;
    width: 50px;
    border-radius: 14px;
    border: 2px solid $grey;
    transition: all 0.2s;
    padding: 0 2px;

    &:before {
      content: "";
      display: inline-block;
      transition: all 0.2s;
      flex-grow: 0;
    }

    &:after {
      content: "";
      display: inline-block;
      height: 18px;
      width: 18px;
      background-color: $grey;
      border-radius: 50%;
      transition: all 0.2s;
    }

    &.small {
      height: 20px;
      width: 35px;
      border-radius: 10px;
      border: 1.5px solid $grey;

      &:after {
        height: 14px;
        width: 14px;
      }
    }
  }

  :global(.switch__checkbox) {
    display: none;
  }

  :global(.switch__checkbox) {
    &:checked {
      & ~ :global(.switch__switch) {
        &:before {
          flex-grow: 1;
        }
      }
    }
  }
}
