@import "@styles/vars.scss";

.container {
  display: flex;
  align-items: center;

  :global(.tooltip__tooltip) {
    top: -3rem;
    right: 1.5rem;
    width: max-content;
  }

  & svg {
    margin-right: 1rem;
    margin-left: auto;
    fill: $grey;
    transition: all 0.2s;
  }

  :global(.switch__switch) {
    position: relative;
    display: inline-flex;
    width: 50px;
    height: 28px;
    align-items: center;
    padding: 0 2px;
    border: 2px solid $grey;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.2s;

    &::before {
      display: inline-block;
      flex-grow: 0;
      content: "";
      transition: all 0.2s;
    }

    &::after {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $grey;
      content: "";
      transition: all 0.2s;
    }

    &.small {
      width: 35px;
      height: 20px;
      border: 1.5px solid $grey;
      border-radius: 10px;

      &::after {
        width: 14px;
        height: 14px;
      }
    }
  }

  :global(.switch__checkbox) {
    display: none;

    &:checked {
      & ~ :global(.switch__switch) {
        &::before {
          flex-grow: 1;
        }
      }
    }
  }
}
