@import "@styles/vars.scss";

.label {
  display: block;
  width: 100%;
  color: $grey;
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.2s;
  user-select: none;

  &.error {
    color: red;
  }

  &.active {
    cursor: pointer;
  }
}
