@import "@styles/vars";

.label {
  display: block;
  width: 100%;
  color: var(--stronger-subtle-text-color);
  font-size: 1.5rem;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.2s;
  user-select: none;

  &.error {
    color: var(--danger-color);
  }

  &.active {
    cursor: pointer;
  }
}
