@import '@styles/vars.scss';

.label {
  display: block;
  width: 100%;
  text-align: left;
  color: $grey;
  font-size: 1.5rem;
  text-transform: uppercase;
  user-select: none;
  transition: all 0.2s;

  &.error {
    color: red;
  }

  &.active {
    cursor: pointer;
  }
}
