@use "@styles/vars" as *;

.header {
  padding: 2rem 0;
  border-bottom: 1px solid var(--element-border-color);
  background-color: var(--element-background-color);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  h1 {
    line-height: 3.1rem;
  }

  @media (max-width: $tablet) {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.title {
  &.noTitle {
    color: var(--accentuated-color);
  }

  @media (max-width: $tablet) {
    width: 100%;
  }

  @media (max-width: $mobile) {
    font-size: 1.3rem;
  }
}

.return {
  text-align: right;
}
