@import "@styles/vars";

.intro {
  padding: 2rem 0;
  background-color: var(--element-background-color);
}

.content {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;

  @media (max-width: $tablet) {
    flex-direction: column-reverse;
  }
}

.info {
  @media (max-width: $tablet) {
    font-size: 1.7rem;
  }
}

.return {
  text-align: right;
}
