@import "@styles/vars";

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-end;
  margin-right: auto;

  @media (max-width: $tablet) {
    justify-content: flex-start;
    order: 3;
    margin: 0;
    margin-left: auto;
  }
}

.counter {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 0.5rem;
  line-height: 1;
  text-align: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.number {
  &:global(.input__container) {
    width: 4rem;
    height: 3.5rem;
    border-bottom: 2px solid var(--accentuated-color);
  }

  :global {
    .input__input {
      height: 100%;
      appearance: textfield;
      font-size: 1.75rem;
      text-align: center;
    }

    .input__input::-webkit-inner-spin-button,
    .input__input::-webkit-outer-spin-button {
      appearance: none;
    }
  }
}

.subtract,
.add {
  position: relative;
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border-radius: 50%;
  background-color: var(--accentuated-color);
  color: var(--reverse-color);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
  user-select: none;

  svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--reverse-color);
  }

  &:hover {
    background-color: var(--alternative-active-color);

    svg {
      fill: var(--dark-color);
    }
  }
}
