@import "@styles/vars.scss";

.save {
  padding-right: 1.5rem;

  :global(.switch__checkbox):checked {
    & ~ :global(.tooltip__tooltip) {
      border-color: $green;
      color: $green;
    }

    & ~ :global(.switch__switch) {
      border-color: $green;

      &::after {
        background-color: $green;
      }
    }

    & ~ svg {
      fill: $green;
    }
  }
}
