@import '@styles/vars.scss';

.save {
  padding-right: 1.5rem;

  input:checked {
    & ~ span {
      color: $green;
      border-color: $green;
    }

    & ~ label {
      border-color: $green;

      &:after {
        background-color: $green;
      }
    }

    & ~ svg {
      fill: $green;
    }
  }
}
