@import '@styles/vars.scss';

.save {
  padding-right: 1.5rem;

  :global(.checkbox):checked {
    & ~ :global(.tooltip) {
      color: $green;
      border-color: $green;
    }

    & ~ :global(.toggle) {
      border-color: $green;

      &:after {
        background-color: $green;
      }
    }

    & ~ svg {
      fill: $green;
    }
  }
}
