@import "@styles/vars";

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (max-width: $tablet) {
    gap: 0.3rem;
  }
}

.bar {
  position: relative;
  display: flex;
  width: 100%;
  height: 1.5rem;
  margin: auto;

  &.default {
    background-color: var(--default-background-color);
  }

  &.red {
    background-color: var(--red-background-color);
  }

  &.green {
    background-color: var(--green-background-color);
  }

  @media (max-width: $tablet) or (max-height: $h-mobile) {
    height: 1.2rem;
  }
}

html:global(.light) .bar {
  --default-background-color: #{$pale-teal};
  --red-background-color: #{$light-red};
  --green-background-color: #{$magic-mint};
}

html:global(.dark) .bar {
  --default-background-color: #{$quartz};
  --red-background-color: #{$quartz};
  --green-background-color: #{$quartz};
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  transition: all 0.2s;

  &.default {
    background-color: var(--default-background-color);
  }

  &.red {
    background-color: var(--red-background-color);
  }

  &.green {
    background-color: var(--green-background-color);
  }
}

html .fill {
  --default-background-color: #{$teal};
  --red-background-color: #{$bittersweet};
  --green-background-color: #{$crayola};
}

html:global(.dark) .fill {
  --default-background-color: #{$lightning-yellow};
}

.info {
  display: flex;
  justify-content: space-between;
  line-height: 1;
}

.title {
  color: var(--stronger-subtle-text-color);
  font-size: 1.4rem;
  text-transform: uppercase;
}

.count {
  color: var(--stronger-subtle-text-color);
  font-size: 1.4rem;

  @media (max-width: $mobile) {
    font-size: 1.2rem;
  }
}
