@import "@styles/vars.scss";

.textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 2px solid $grey;
  font-family: inherit;
  font-size: 1.7rem;
  overflow-wrap: break-word;
  resize: none;
  text-align: left;

  &:focus {
    border-bottom: 2px solid $tertiary;
    outline: none;
  }

  &.error {
    border-color: red;
  }

  &[disabled] {
    height: 4.6rem;
  }
}
