@import "@styles/vars";

.textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid var(--input-border-color);
  font-family: inherit;
  font-size: 1.7rem;
  overflow-wrap: break-word;
  resize: none;
  text-align: left;
  transition: all 0.1s;

  &:focus {
    border-bottom: 1px solid var(--active-color);
    outline: none;
  }

  &.error {
    border-color: var(--danger-color);
  }

  /* &[disabled] {
    height: 4.6rem;
  } */
}
