@import "@styles/vars.scss";

.textarea {
  display: block;
  resize: none;

  width: 100%;
  max-width: 100%;

  font-family: inherit;
  font-size: 1.7rem;
  text-align: left;
  overflow-wrap: break-word;

  border: none;
  border-bottom: 2px solid $grey;

  padding: 0.5rem 0;

  &:focus {
    outline: none;
    border-bottom: 2px solid $tertiary;
  }

  &.error {
    border-color: red;
  }

  &[disabled] {
    height: 4.6rem;
  }
}
