@import "@styles/vars";
@import "@styles/animations";

.speaker {
  display: flex;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  cursor: pointer;

  svg {
    fill: var(--icon-fill);
    transition: all 0.2s;
  }

  &:hover {
    svg {
      fill: var(--active-color);
    }
  }

  &.speaking {
    svg {
      fill: var(--active-color);
    }

    animation-name: example;
  }

  &.disabled {
    cursor: initial;

    svg {
      fill: var(--inactive-color);
    }

    &:hover {
      svg {
        fill: var(--inactive-color);
      }
    }
  }
}
