@use "@styles/vars" as *;
@use "@styles/animations";

.speaker {
  display: flex;
  cursor: pointer;

  svg {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    fill: var(--icon-fill);
    transition: all 0.2s;
  }

  &:hover {
    svg {
      fill: var(--active-color);
    }
  }

  &.speaking {
    svg {
      animation-name: example;
      fill: var(--active-color);
    }
  }

  &.disabled {
    cursor: initial;

    svg {
      fill: var(--inactive-color);
    }

    &:hover {
      svg {
        fill: var(--inactive-color);
      }
    }
  }
}
