@import "@styles/vars";

.sr {
  margin-left: 0.5rem;

  & svg {
    margin-right: 1.3rem;
  }

  :global {
    .switch__checkbox:checked {
      & ~ .switch__switch {
        border-color: var(--success-color);

        &::after {
          background-color: var(--success-color);
        }
      }
    }
  }
}

.sr_drop {
  display: flex;
  cursor: pointer;

  & svg {
    margin-right: 1rem;
    fill: var(--icon-fill);
    outline: none;
    transition: all 0.2s;
  }

  &:hover {
    svg {
      fill: var(--danger-color);
    }
  }

  :global(.tooltip__tooltip.react-tooltip) {
    color: var(--danger-color);
  }

  &.question {
    :global(.tooltip__tooltip) {
      opacity: 0 !important;
    }

    svg {
      fill: var(--danger-color);
    }
  }
}

.edit {
  display: flex;
  cursor: pointer;

  /* stylelint-disable-next-line no-descending-specificity */
  & svg {
    fill: var(--icon-fill);
    transition: all 0.1s linear;
    vertical-align: middle;
  }

  &:hover {
    & svg {
      fill: var(--danger-color);
    }
  }
}

.controls_item {
  &:not(:last-child) {
    padding-right: 1.25rem;
    border-right: 1px solid var(--element-border-color);
    margin-right: 1.25rem;
  }
}
