@import "@styles/vars";

.container {
  position: fixed;
  top: 7.8rem;
  bottom: 0;
  width: 19.5rem;
  background-color: var(--element-background-color);

  @media (max-width: $tablet) {
    position: static;
    top: auto;
    bottom: auto;
    width: 100%;
  }
}

.controls {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  border: 1px solid var(--element-border-color);
  border-top: none;
  border-bottom: none;

  @media (max-width: $notebook) {
    border-left: none;
  }

  @media (max-width: $tablet) {
    position: static;
    top: auto;
    bottom: auto;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--element-border-color);
  }
}

.title {
  @media (max-width: $tablet) {
    display: none;
  }

  margin-bottom: 3rem;
  text-align: center;

  & svg {
    margin-right: 0.5rem;
    fill: var(--accentuated-color);
    vertical-align: middle;
  }

  & span {
    color: var(--accentuated-color);
    font-size: 2.4rem;
    font-weight: bold;
    vertical-align: middle;
  }
}

.back {
  @media (max-width: $tablet) {
    display: none;
  }

  border-bottom: 1px solid var(--element-border-color);

  & button {
    & svg {
      margin-right: 0.5rem;
      fill: var(--secondary-element-background-color);
      transition: all 0.1s linear;
    }

    &:hover {
      color: var(--active-secondary-color);

      & svg {
        fill: var(--active-secondary-color);
      }
    }
  }

  margin-bottom: 3rem;
}
