@import "@styles/vars.scss";

.container {
  position: fixed;
  bottom: 0;
  top: 7.8rem;
  width: 19.5rem;

  background-color: $white;

  @media (max-width: $tablet) {
    bottom: auto;
    top: auto;
    position: static;
    width: 100%;
  }
}

.controls {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 20;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.28);
}

.back {
  @media (max-width: $tablet) {
    display: none;
  }

  border-bottom: 1px solid $grey-light;

  & button {
    & svg {
      fill: $secondary;
      margin-right: 0.5rem;
      transition: all 0.1s linear;
    }

    &:hover {
      & svg {
        fill: $grey;
      }
    }
  }
  margin-bottom: 3rem;
}

.title {
  @media (max-width: $tablet) {
    display: none;
  }

  text-align: center;
  margin-bottom: 3rem;

  & svg {
    vertical-align: middle;
    margin-right: 0.5rem;
    fill: $primary;
  }

  & span {
    vertical-align: middle;
    font-size: 2.4rem;
    color: $primary;
    font-weight: bold;
  }
}

.control_buttons {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;

  @media (max-width: $tablet) {
    display: none;
  }
}
