@import "@styles/vars";

.container {
  z-index: 20;

  @media (max-width: $tablet) {
    position: sticky;
    padding-right: 1.5rem;
  }

  @media (hover: none) {
    padding-right: 0;
  }
}

.controls {
  position: fixed;
  top: 7.15rem;
  bottom: 0;
  width: 19.5rem;
  border: 1px solid var(--element-border-color);
  border-top: none;
  border-bottom: none;
  background-color: var(--element-background-color);

  @media (max-width: $notebook) {
    border-left: none;
  }

  @media (max-width: $tablet) {
    position: static;
    top: auto;
    bottom: auto;
    width: 100vw;
    padding-right: 1.5rem;
    border: none;
    border-bottom: 1px solid var(--element-border-color);
  }

  @media (hover: none) {
    padding-right: 0;
  }
}

.title {
  @media (max-width: $tablet) {
    display: none;
  }

  margin-bottom: 3rem;
  text-align: center;

  & svg {
    margin-right: 0.5rem;
    fill: var(--accentuated-color);
    vertical-align: middle;
  }

  & span {
    color: var(--accentuated-color);
    font-size: 2.4rem;
    font-weight: bold;
    vertical-align: middle;
  }
}

.back {
  border-bottom: 1px solid var(--element-border-color);
  margin-bottom: 3rem;

  @media (max-width: $tablet) {
    display: none;
  }

  & a {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    text-align: left;

    & :global(.interactive_element__icon) {
      margin-right: 0.5rem;
      fill: var(--secondary-element-background-color);
      transition: all 0.1s linear;
    }

    &:hover {
      background-color: var(--active-color);
      color: var(--active-secondary-color);

      & :global(.interactive_element__icon) {
        fill: var(--active-secondary-color);
      }
    }
  }
}
