@import '@styles/vars.scss';

.save {
  padding-right: 1.5rem;
  border-right: 2px solid $grey-light;

  :global(.toggle__checkbox):checked {
    & ~ :global(.tooltip__tooltip) {
      color: $green;
      border-color: $green;
    }

    & ~ :global(.toggle__toggle) {
      border-color: $green;

      &:after {
        background-color: $green;
      }
    }

    & ~ svg {
      fill: $green;
    }
  }
}
