@use "@styles/vars" as *;

.container {
  display: flex;
  align-items: center;

  & svg {
    margin-right: 1rem;
    margin-left: auto;
    fill: var(--icon-fill);
    transition: all 0.2s;
  }

  :global(.switch__switch) {
    position: relative;
    display: inline-flex;
    width: 46px;
    align-items: center;
    padding: 2px;
    border: 1px solid var(--icon-fill);
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.2s;

    &::before {
      display: inline-block;
      flex-grow: 0;
      content: "";
      transition: all 0.2s;
    }

    &::after {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: var(--icon-fill);
      content: "";
      transition: all 0.2s;
    }
  }

  :global(.switch__checkbox) {
    display: none;
  }

  :global(.switch__checkbox:checked ~ .switch__switch) {
    &::before {
      flex-grow: 1;
    }
  }

  :global(.switch__switch).small {
    width: 34px;
    padding: 2px;
    border: 1px solid var(--icon-fill);
    border-radius: 10px;

    &::after {
      width: 14px;
      height: 14px;
    }
  }
}
