@use "@styles/vars" as *;

.progress_bar {
  @media (max-width: $tablet) or (max-height: $h-mobile) {
    &:global(.progress-bar__container) {
      flex-direction: row;
      gap: 1rem;
    }

    :global(.progress-bar__title) {
      display: none;
    }
  }
}
