@import "@styles/vars";

.sr_indicator {
  position: absolute;
  top: 2.5rem;
  right: 4rem;

  @media (max-width: $mobile) {
    top: 2rem;
    right: 3rem;
  }

  :global(.tooltip__tooltip) {
    top: -1rem;
    left: -21rem;
  }
}

.answer {
  position: relative;
  width: 100%;
  padding: 2.5rem 4rem;
  border: 1px solid var(--element-border-color);
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: var(--element-background-color);

  &:focus {
    outline: none;
  }

  @media (max-width: $mobile) {
    padding: 1.5rem 3rem;
  }
}

.speaker {
  position: absolute;
  right: 0;
  bottom: 0;

  svg {
    width: 22px;
    height: 22px;
  }
}

.edit {
  position: absolute;
  top: 2.5rem;
  right: 4rem;
  display: flex;
  padding: 0;
  border: none;
  cursor: pointer;

  @media (max-width: $mobile) {
    top: 1.5rem;
    right: 3rem;
  }

  svg {
    transition: all 0.2s;
  }

  &:hover {
    svg {
      fill: var(--danger-color);
    }
  }

  &.sr {
    top: 2.5rem;
    right: 8.25rem;
    padding-right: 1.75rem;
    border-right: 1px solid var(--element-border-color);

    @media (max-width: $mobile) {
      top: 2rem;
      right: 7.75rem;
    }
  }
}

.type {
  margin-bottom: 2.5rem;
  line-height: 1;

  &.correct {
    color: var(--success-color);
  }

  &.incorrect {
    color: var(--danger-color);
  }

  &::first-letter {
    text-transform: uppercase;
  }

  @media (max-width: $mobile-m) {
    margin-top: 4rem;
  }
}

.section {
  &:not(:first-child) {
    padding-top: 1.5rem;
    border-top: 1px solid var(--element-border-color);
    margin-top: 1.5rem;
  }
}

.section_title {
  display: block;
  margin-bottom: 1rem;
  color: var(--subtle-text-color);
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.img_container {
  margin-bottom: 1rem;
}

.img {
  width: 32rem;
  height: 30rem;

  @media (max-width: $mobile) {
    width: 24rem;
    height: 23rem;
  }

  @media (max-width: $mobile-sm) {
    width: 100%;
  }
}

.section_body {
  position: relative;
  padding-right: 2.75rem;
}

.override {
  margin-left: 1rem;
  text-align: right;

  @media (max-width: $mobile) {
    margin-top: 1rem;
  }

  button {
    color: var(--secondary-element-background-color);

    &:hover {
      color: var(--alternative-active-color);
    }
  }
}

.continue {
  margin-top: 3rem;
  text-align: center;

  &[data-correct="false"] {
    & button {
      background-color: var(--inactive-color);
      color: var(--inactive-secondary-color);
      cursor: auto;

      &:hover {
        background-color: var(--inactive-color);
        color: var(--inactive-secondary-color);
      }
    }
  }
}

.form {
  display: flex;
  padding-top: 1.5rem;
  border-top: 1px solid var(--element-border-color);
  margin-top: 1.5rem;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.fieldset {
  flex: 1;
  border: none;

  & :global(.text_label__label) {
    color: var(--subtle-text-color);
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
}

.input {
  &:global(.input__container) {
    padding: 0.2rem 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s;

    &.correct {
      border-color: var(--success-color);

      & + :global(.label__label) {
        color: var(--success-color);
      }

      &::after {
        background-color: var(--success-color);
      }

      &:focus-within {
        &::after {
          background-color: var(--success-color);
        }
      }
    }
  }

  & :global(.input__input) {
    font-size: 1.5rem;
  }
}
