@use "@styles/vars" as *;
@use "@styles/animations";

.primary {
  position: relative;
  z-index: 1000;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 125px;
  height: 125px;
  border: 4px solid transparent;
  border-radius: 50%;
  border-top: 4px solid $orange;
  margin: -62.5px 0 0 -62.5px;
  animation: spin-primary 2s linear infinite;

  &.small {
    width: 75px;
    height: 75px;
    margin: -37.5px 0 0 -37.5px;
  }

  &::before,
  &::after {
    position: absolute;
    border: 4px solid transparent;
    border-radius: 50%;
    content: "";
  }

  &::before {
    border-top-color: $orange-peel;
    animation: spin-primary 3.5s linear infinite;
    inset: 5px;
  }

  &::after {
    border-top-color: $lightning-yellow;
    animation: spin-primary 1.75s linear infinite;
    inset: 14px;
  }
}

.secondary {
  --spinner-color: var(--text-color);

  width: 3rem;
  height: 3rem;
  border: 4px solid var(--spinner-color);
  border-radius: 50%;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin: -1.5rem 0 0 -1.5rem;
  animation: spin-secondary 1.25s linear infinite;
  transform: rotate(180deg);
  transform-origin: center;
}
