@use "@styles/vars" as *;

.card {
  border: 1px solid var(--element-border-color);
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  border-bottom: 1px solid var(--element-border-color);
  background-color: var(--element-background-color);
}

.created {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text-color);
  font-size: 1.2rem;
}

.main {
  display: flex;
  min-height: 10rem;
  padding: 2rem;
  background-color: var(--element-background-color);

  @media (max-width: $tablet-sm) {
    flex-direction: column;
  }
}

.term {
  position: relative;
  width: 30%;
  padding: 3rem 1.5rem 0;
  border-right: 1px solid var(--element-border-color);
  font-size: 1.7rem;
  overflow-wrap: break-word;
  text-align: center;

  @media (max-width: $tablet-sm) {
    width: 100%;
    padding: 3rem 1rem 1.5rem;
    border-right: none;
    border-bottom: 1px solid var(--element-border-color);
    text-align: left;
  }
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
}

.speaker {
  position: absolute;
  top: 0;
  right: 1rem;

  svg {
    width: 17px;
    height: 17px;
  }
}

.definition_container {
  display: flex;
  width: 70%;

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  @media (max-width: $tablet-sm) {
    width: 100%;
    padding-top: 1.5rem;
  }
}

.definition {
  position: relative;
  flex: 1;
  padding: 3rem 1.5rem 0;
  font-size: 1.7rem;
  overflow-wrap: break-word;
  text-align: left;

  @media (max-width: $tablet) {
    flex-direction: column;
    padding: 3rem 1rem 0;
  }
}

.img_container {
  display: flex;
  width: 20%;
  align-items: center;
  align-self: center;
  justify-content: center;

  &.inactive {
    display: none;
  }

  @media (max-width: $tablet) {
    width: 100%;
    justify-content: flex-start;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-left: 0;
  }
}

.img {
  width: 12rem;
  height: 10rem;
  border-radius: 5px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;

  @media (max-width: $tablet) {
    margin: 0;
  }
}

.confirm {
  &:global(.confirm-popup__confirm) {
    top: -10.5rem;
    left: 5rem;
    width: 20rem;

    @media (max-width: $mobile) {
      left: 1rem;
    }
  }
}

.highlighted_text {
  background-color: var(--active-color);
  color: var(--dark-color);
}
