@import "@styles/vars";
@import "@styles/animations";

.navigation {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: space-around;
  pointer-events: none;

  @media (max-width: $tablet) or (max-height: $h-mobile) {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 8rem;
  }
}

.item {
  width: 50%;
  padding: 0 5rem;

  @media (max-width: $tablet) or (max-height: $h-mobile) {
    align-self: flex-end;
    margin-bottom: 4rem;
  }

  @media (max-width: $mobile) {
    margin-bottom: 2rem;
  }

  & button {
    position: relative;
    z-index: 20;
    display: flex;
    width: 5rem;
    height: 5rem;
    padding: 1.5rem;
    border: 1px solid var(--button-border-color);
    border-radius: 50%;
    background-color: var(--element-background-color);
    pointer-events: auto;
    transition: all 0.1s linear;

    @media (max-width: $tablet) or (max-height: $h-mobile) {
      width: 4rem;
      height: 4rem;
    }

    & svg {
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--secondary-element-background-color);
      transition: all 0.1s linear;

      @media (max-width: $tablet) or (max-height: $h-mobile) {
        width: 2rem;
        height: 2rem;
      }
    }

    &:hover {
      border-color: var(--active-color);
      background-color: var(--active-color);

      & svg {
        fill: var(--active-secondary-color);
      }
    }
  }

  &.prev {
    & button {
      margin-left: auto;

      @media (max-width: $tablet) or (max-height: $h-mobile) {
        margin: 0 auto 0 0;
      }

      @media (max-width: $mobile) {
        margin: 0 0 0 auto;
      }

      & svg {
        top: 50%;
        left: 50%;
        transform: translate(-15px, -12.5px);

        @media (max-width: $tablet) or (max-height: $h-mobile) {
          transform: translate(-12px, -10px);
        }
      }
    }
  }

  &.next {
    & button {
      @media (max-width: $tablet) or (max-height: $h-mobile) {
        margin: 0 0 0 auto;
      }

      @media (max-width: $mobile) {
        margin: 0;
      }

      & svg {
        top: 50%;
        left: 50%;
        transform: translate(-9.5px, -12.5px);

        @media (max-width: $tablet) or (max-height: $h-mobile) {
          transform: translate(-8px, -10px);
        }
      }
    }
  }

  &.inactive {
    & button {
      border-color: var(--inactive-color);
      background-color: var(--inactive-color);
      cursor: auto;

      svg {
        fill: var(--inactive-secondary-color);
      }
    }

    &:hover {
      & button {
        background-color: var(--inactive-color);

        svg {
          fill: var(--inactive-secondary-color);
        }
      }
    }
  }
}

html:global(.light) .item {
  --button-border-color: var(--element-border-color);
}

html:global(.dark) .item {
  --button-border-color: var(--active-color);
}

.question {
  display: flex;
  height: 10rem;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-end;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid var(--element-border-color);
  border-radius: 1rem;
  background-color: var(--element-background-color);
  opacity: 0;
  pointer-events: auto;
  text-align: center;
  transform: translateY(20rem);
  transition: all 0.5s;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }

  & p {
    width: 100%;
    font-size: 1.7rem;
  }

  @media (max-width: $tablet) or (max-height: $h-mobile) {
    margin-bottom: 2rem;
  }

  @media (max-width: $mobile) {
    width: 25rem;
  }
}

.answer {
  z-index: 30;
  display: inline-block;
  padding: 1rem 3.5rem;
  border-radius: 0.75rem;
  color: var(--light-color);
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.2s;
  user-select: none;

  &.correct {
    background-color: var(--success-color);
  }

  &.incorrect {
    background-color: var(--danger-color);
  }

  &:hover {
    animation: pulse 1.25s linear infinite;
    background-color: var(--active-color);
    color: var(--active-secondary-color);
  }
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;

  &::after {
    display: block;
    width: 64px;
    height: 64px;
    border: 6px solid var(--active-color);
    border-color: var(--active-color) transparent var(--active-color)
      transparent;
    border-radius: 50%;
    margin: 7px;
    animation: lds-dual-ring 1.2s linear infinite;
    content: " ";
  }
}
