@import "@styles/vars";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  z-index: 1000;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 125px;
  height: 125px;
  border: 4px solid transparent;
  border-radius: 50%;
  border-top: 4px solid $orange;
  margin: -62.5px 0 0 -62.5px;
  animation: spin 2s linear infinite;

  &.small {
    width: 75px;
    height: 75px;
    margin: -37.5px 0 0 -37.5px;
  }

  &::before,
  &::after {
    position: absolute;
    border: 4px solid transparent;
    border-radius: 50%;
    content: "";
  }

  &::before {
    border-top-color: $orange-peel;
    animation: spin 3.5s linear infinite;
    inset: 5px;
  }

  &::after {
    border-top-color: $lightning-yellow;
    animation: spin 1.75s linear infinite;
    inset: 14px;
  }
}

.container {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(5px);
    background-color: rgba($black, 0.1);
  }
}
