@import "@styles/vars";

.param {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  gap: 1rem;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.search {
  width: 70%;

  @media (max-width: $tablet) {
    width: auto;
    margin-top: 1.5rem;
  }
}

.count {
  color: var(--stronger-subtle-text-color);
  font-size: 2rem;
  font-weight: bold;
  line-height: 4rem;
}

.filter {
  flex: 1;
}
