@import "@styles/vars";

.filter {
  position: static;
}

.container {
  display: flex;
  justify-content: flex-end;
  transition: all 0.2s;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.search {
  width: 100%;
  max-width: 30rem;
  margin-right: 1.5rem;

  @media (max-width: $mobile) {
    margin-right: 0;
  }
}

.select_group {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.select {
  width: 11.5rem;

  @media (max-width: $mobile) {
    margin-top: 1.5rem;
  }
}
