@import "@styles/vars";

.card {
  z-index: 0;
  border: 1px solid var(--element-border-color);
  margin-bottom: 1.5rem;
  background-color: var(--element-background-color);

  &:last-child {
    margin-bottom: 0;
  }

  &.game {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 1.25rem -0.1rem rgb(0 0 0 / 28%);
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--element-border-color);
}

.number {
  margin-right: auto;
  font-size: 1.7rem;
}

.delete,
.close {
  display: flex;
  margin-left: 2rem;
  cursor: pointer;
  text-align: right;

  & svg {
    fill: var(--icon-fill);
    transition: fill 0.1s;
  }

  &:hover {
    & svg {
      fill: var(--danger-color);
    }
  }

  &.inactive {
    cursor: auto;

    & svg {
      fill: var(--inactive-color);
    }

    &:hover {
      & svg {
        fill: var(--inactive-color);
      }
    }
  }
}

.items {
  display: flex;
  align-items: stretch;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.term {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.definition {
  display: flex;
  width: 50%;
  padding: 2rem;
  text-align: center;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.definition_input {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
}
