@import '@styles/vars.scss';

.card {
  background-color: $white;
  margin-bottom: 1.5rem;
  z-index: 0;

  &:last-child {
    margin-bottom: 0;
  }

  &.game {
    border-radius: 1rem;
    box-shadow: 0 0 1.25rem -0.1rem rgba(0, 0, 0, 0.28);
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $grey-light;
  padding: 1.25rem 2rem;
}

.number {
  margin-right: auto;
  font-size: 1.7rem;
}

.delete,
.close {
  cursor: pointer;
  text-align: right;
  margin-left: 2rem;
  display: flex;

  & svg {
    fill: $grey;
    transition: fill 0.1s;
  }

  &.inactive {
    & svg {
      fill: rgba(143, 143, 143, 0.856);
    }

    &:hover {
      & svg {
        fill: rgba(143, 143, 143, 0.856);
      }
    }
  }

  &:hover {
    & svg {
      fill: rgba(255, 0, 0, 0.856);
    }
  }

  &.inactive:hover {
    & svg {
      fill: rgba(143, 143, 143, 0.856);
    }
  }
}

.items {
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.term {
  width: 50%;
  padding: 2rem;

  text-align: center;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.definition {
  width: 50%;
  padding: 2rem;

  display: flex;

  text-align: center;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.definition_input {
  width: 80%;
}
