@import "@styles/vars.scss";

.card {
  z-index: 0;
  margin-bottom: 1.5rem;
  background-color: $white;

  &:last-child {
    margin-bottom: 0;
  }

  &.game {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 1.25rem -0.1rem rgb(0 0 0 / 28%);
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 1.25rem 2rem;
  border-bottom: 2px solid $grey-light;
}

.number {
  margin-right: auto;
  font-size: 1.7rem;
}

.delete,
.close {
  display: flex;
  margin-left: 2rem;
  cursor: pointer;
  text-align: right;

  & svg {
    fill: $grey;
    transition: fill 0.1s;
  }

  &:hover {
    & svg {
      fill: rgb(255 0 0 / 85.6%);
    }
  }

  &.inactive {
    & svg {
      fill: rgb(143 143 143 / 85.6%);
    }

    &:hover {
      & svg {
        fill: rgb(143 143 143 / 85.6%);
      }
    }
  }
}

.items {
  display: flex;
  align-items: center;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.term {
  width: 50%;
  padding: 2rem;
  text-align: center;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.definition {
  display: flex;
  width: 50%;
  padding: 2rem;
  text-align: center;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.definition_input {
  width: 80%;
}
