@use "@styles/vars" as *;

.drop {
  display: flex;
  padding-right: 1.65rem;
  border-right: 1px solid var(--element-border-color);
  cursor: pointer;

  & svg {
    fill: var(--icon-fill);
    transition: all 0.2s;
  }

  &:hover {
    svg {
      fill: var(--danger-color);
    }
  }

  &.active {
    svg {
      fill: var(--danger-color);
    }
  }
}
