@import '@styles/vars.scss';

.header {
  padding: 0;
  background-color: $primary;
  position: relative;
  transition: all 0.1 linear;
  z-index: 40;

  padding: 1.5rem 0;
  box-shadow: 0px 0px 5px 0px $black;

  @media (max-width: $tablet) {
    padding: 0.75rem 0;
  }
}

.content {
  display: flex;
  justify-content: space-between;
}
