@import "@styles/vars";

.header {
  position: relative;
  z-index: 40;
  padding: 0;
  padding: 1.2rem 0;
  border-bottom: 1px solid var(--header-secondary-color);
  background-color: var(--header-color);
  transition: all 0.1 linear;

  @media (max-width: $tablet) {
    padding: 0.75rem 0;
  }
}

.content {
  display: flex;
  justify-content: space-between;
}
