@import "@styles/vars.scss";
@import "@styles/animations.scss";

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 3rem;
  height: 3rem;
  border: 4px solid $white;
  border-radius: 50%;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin: -1.5rem 0 0 -1.5rem;
  animation: spin 1.25s linear infinite;
  transform: rotate(180deg);
  transform-origin: center;
}

.btn {
  position: relative;
  text-align: center;

  &[data-loading="true"] {
    & button {
      background-color: $tertiary;
      cursor: auto;

      & span {
        visibility: hidden;
      }
    }

    & .spinner {
      display: block;
    }
  }
}

.inactive {
  background-color: rgb(218 38 38);
  cursor: auto;

  &:hover {
    background-color: rgb(218 38 38);
    color: $white;
  }
}
