@import "@styles/vars";

.tooltip {
  position: absolute;
  z-index: 30;
  padding: 0.5rem 1rem;
  border: 1px solid var(--element-border-color);
  border-radius: 0.5rem;
  margin: 0;
  background-color: var(--element-background-color);
  font-size: 1.2rem;
  line-height: 1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
}

.container {
  position: relative;

  &:hover .tooltip {
    opacity: 1;
  }
}
