@use "@styles/vars" as *;

.settings {
  min-height: 20rem;
  padding: 2rem;
  border: 1px solid var(--element-border-color);
  margin: 2rem;
  background-color: var(--element-background-color);

  @media (max-width: $mobile) {
    margin: 2rem 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  .title {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

.section {
  position: relative;
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .body {
    padding-left: 1rem;
  }

  & :global(.spinner__spinner) {
    --spinner-color: var(--active-color);

    position: absolute;
    top: 1.5rem;
    right: 0;
  }
}
