@import '@styles/vars.scss';

.sr_control {
  margin-left: 0.5rem;

  & svg {
    margin-right: 1.3rem;
  }

  :global(.switch__checkbox):checked {
    & ~ :global(.switch__switch) {
      border-color: $green;

      &:after {
        background-color: $green;
      }
    }
  }
}
