@use "@styles/vars" as *;

.logo {
  display: inline-flex;
  justify-content: center;
  padding: 0 1.5rem;
  cursor: pointer;
  transform: translateX(-1rem);

  svg {
    width: 4rem;
  }

  &.isGame {
    @media (max-width: $tablet) or (max-height: $h-mobile) {
      display: none;
    }
  }

  @media (max-width: $tablet) {
    svg {
      width: 3.5rem;
    }
  }

  @media (max-width: $mobile) {
    padding: 0 1rem;

    svg {
      width: 3rem;
    }
  }
}
