@import "@styles/vars";

.module_link {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--icon-fill);
    transition: all 0.1s linear;
  }

  &:hover {
    svg {
      fill: var(--active-color);
    }
  }

  :global(.tooltip__tooltip) {
    top: -3.25rem;
    right: 0;
    width: max-content;
  }
}
