@use "@styles/vars" as *;

.module_link {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--icon-fill);
    transition: all 0.1s linear;
  }

  &:hover {
    svg {
      fill: var(--active-color);
    }
  }
}
