@import '@styles/vars.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (max-width: $tablet) {
    gap: 0.3rem;
  }
}

.bar {
  display: flex;
  width: 100%;
  margin: auto;
  height: 1.5rem;
  position: relative;

  &.default {
    background-color: $primary-pale;
  }

  &.red {
    background-color: $palered;
  }

  &.green {
    background-color: $palegreen;
  }

  @media (max-width: $tablet) {
    height: 1.2rem;
  }

  /* &.full {
    @media (max-width: $tablet) {
      width: 100%;
    }
  } */
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  transition: all 0.2s;

  &.default {
    background-color: $primary;
  }

  &.red {
    background-color: $red;
  }

  &.green {
    background-color: $green;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  line-height: 1;

  @media (max-width: $tablet) {
    // width: 10%;
  }
}

.title {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: $grey;

  /* @media (max-width: $tablet) {
    display: none;
  } */
}

.count {
  font-size: 1.4rem;
  color: $grey;

  @media (max-width: $mobile) {
    font-size: 1.2rem;
  }
}
