@import "@styles/vars";

.title {
  color: var(--light-color);
  cursor: pointer;
  font-family: "Fredoka One";
  font-size: 4rem;
  font-weight: 400;

  @media (max-width: $mobile) {
    font-size: 3rem;
  }

  &.hidden {
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.link {
  text-decoration: none;
}
