@import '@styles/vars.scss';

.title {
  font-family: 'Fredoka One';
  font-weight: 400;
  font-size: 4rem;
  color: $white;
  cursor: pointer;

  @media (max-width: $mobile) {
    font-size: 3rem;
  }

  &.hidden {
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.link {
  text-decoration: none;
}
