@import "@styles/vars.scss";
@import "@styles/animations.scss";

.speaker {
  display: flex;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  cursor: pointer;

  svg {
    fill: $grey;
    transition: all 0.2s;
  }

  &:hover {
    svg {
      fill: $tertiary;
    }
  }

  &[data-speaking="true"] {
    svg {
      fill: $tertiary;
    }

    animation-name: example;
  }

  &[data-active="false"] {
    cursor: initial;

    svg {
      fill: $grey-medium;
    }

    &:hover {
      svg {
        fill: $grey-medium;
      }
    }
  }
}
