@import "@styles/vars";

.sr {
  margin-left: 0.5rem;

  & svg {
    margin-right: 1.3rem;
  }

  :global(.switch__checkbox):checked {
    & ~ :global(.switch__switch) {
      border-color: var(--icon-positive-fill);

      &::after {
        background-color: var(--icon-positive-fill);
      }
    }
  }
}

.sr_drop {
  display: flex;
  cursor: pointer;

  & svg {
    margin-right: 1rem;
    fill: var(--icon-fill);
    transition: all 0.2s;
  }

  &:hover {
    svg {
      fill: var(--icon-danger-fill);
    }
  }

  :global(.tooltip__tooltip) {
    top: -3rem;
    left: -1rem;
    width: max-content;
    margin-right: 1rem;
    color: var(--danger-text-color) !important;
  }

  &[data-active="true"] {
    :global(.tooltip__tooltip) {
      opacity: 0 !important;
    }

    svg {
      fill: var(--danger-text-color);
    }
  }
}

.edit {
  display: flex;
  cursor: pointer;

  /* stylelint-disable-next-line no-descending-specificity */
  & svg {
    fill: var(--icon-fill);
    transition: all 0.1s linear;
    vertical-align: middle;
  }

  &:hover {
    & svg {
      fill: var(--icon-danger-fill);
    }
  }
}

.controls_item {
  &:not(:last-child) {
    padding-right: 1.25rem;
    border-right: 1px solid var(--element-border-color);
    margin-right: 1.25rem;
  }
}
