@import "@styles/vars.scss";

.sr {
  margin-left: 0.5rem;

  & svg {
    margin-right: 1.3rem;
  }

  :global(.switch__checkbox):checked {
    & ~ :global(.switch__switch) {
      border-color: $green;

      &::after {
        background-color: $green;
      }
    }
  }
}

.sr_drop {
  display: flex;
  cursor: pointer;

  & svg {
    margin-right: 1rem;
    fill: $grey;
    transition: all 0.2s;
  }

  &:hover {
    svg {
      fill: $red;
    }
  }

  :global(.tooltip__tooltip) {
    top: -3rem;
    left: -1rem;
    width: max-content;
    margin-right: 1rem;
    color: $red !important;
  }

  &[data-active="true"] {
    :global(.tooltip__tooltip) {
      opacity: 0 !important;
    }

    svg {
      fill: $red;
    }
  }
}

.edit {
  display: flex;
  cursor: pointer;

  /* stylelint-disable-next-line no-descending-specificity */
  & svg {
    fill: $grey;
    transition: all 0.1s linear;
    vertical-align: middle;
  }

  &:hover {
    & svg {
      fill: rgb(255 0 0 / 85.6%);
    }
  }
}

.controls_item {
  &:not(:last-child) {
    padding-right: 1.25rem;
    border-right: 2px solid $grey-light;
    margin-right: 1.25rem;
  }
}
