@use "@styles/vars" as *;

.header {
  position: relative;
  z-index: 40;
  padding: 0;
  padding: 1.2rem 0;
  border-bottom: 1px solid var(--header-secondary-color);
  background-color: var(--header-color);
  transition: all 0.1s linear;

  @media (hover: none) {
    border-top: 1px solid var(--header-secondary-color);
  }

  @media (max-width: $tablet) or (max-height: $h-mobile) {
    padding: 0.75rem 0;
  }

  &.sticky {
    position: sticky;
    top: 0;
  }
}

.content {
  display: flex;
  justify-content: space-between;
}
