@import "@styles/vars.scss";

.tooltip {
  position: absolute;
  z-index: 30;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin: 0;
  background-color: $white;
  box-shadow: 0 0 1.25rem 0 rgba($grey, 0.28);
  color: $grey-lighter;
  font-size: 1.2rem;
  line-height: 1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
}

.container {
  position: relative;

  &:hover .tooltip {
    opacity: 1;
  }
}
