@use "@styles/vars" as *;

.error_container,
.spinner_container {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.2s;
  transition-delay: 0.2s;

  &.hide {
    opacity: 0;
    transition-delay: 0;
    visibility: hidden;
  }
}

.error_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
