@import "@styles/vars.scss";

.shuffle {
  & button {
    & svg {
      margin-right: 2rem;
      fill: $secondary;
      transition: all 0.1s linear;
      vertical-align: middle;
    }

    & span {
      vertical-align: middle;
    }

    &:hover {
      & svg {
        fill: $tertiary;
      }
    }
  }

  &.active {
    button {
      background-color: $tertiary;
      color: $grey;

      svg {
        fill: $grey;
      }

      &:hover {
        svg {
          fill: $grey;
        }
      }
    }
  }
}
