@import "@styles/vars";

.module {
  padding: 3rem 0 1.5rem;
  border-bottom: 1px solid var(--element-border-color);
  background-color: var(--element-background-color);

  @media (max-width: $tablet) {
    padding-bottom: 1rem;
  }
}

.content {
  display: flex;
  padding: 0 2rem;
  font-size: 2rem;
  text-align: left;

  @media (max-width: $mobile) {
    display: block;
  }
}

.title {
  width: 50%;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.control {
  display: flex;
  min-height: 4rem;
  justify-content: space-between;
  padding-top: 1.5rem;
  border-top: 1px solid var(--element-border-color);
  margin-top: 3rem;
  gap: 2.5rem;

  @media (max-width: $tablet) {
    padding-top: 1.25rem;
  }

  & .left,
  & .right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.toggle_selection {
  font-size: 1.6rem;
}

.input {
  min-height: 4.5rem;
  padding: 1rem 0;
}
