@import "@styles/vars";

.scroll {
  position: fixed;
  z-index: 10000;
  right: -100px;
  bottom: 25px;
  display: flex;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  border: none;
  border: 1px solid var(--accentuated-color);
  border-radius: 50%;
  background-color: var(--background-color);
  cursor: pointer;
  pointer-events: all;
  transition: all 0.3s ease;

  @media (max-width: $mobile) {
    bottom: 15px;
  }

  &.active {
    right: 25px;

    @media (max-width: $mobile) {
      right: 15px;
    }
  }

  svg {
    fill: var(--icon-fill);
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }

  &:hover {
    border-color: var(--active-color);
    background-color: var(--active-color);

    svg {
      fill: var(--dark-color);
    }
  }
}

body:global(.light) .scroll {
  --background-color: var(--accentuated-color);
  --icon-fill: var(--light-color);
}

body:global(.dark) .scroll {
  --background-color: var(--element-background-color);
  --icon-fill: var(--active-color);
}
