@use "@styles/vars" as *;

.divider {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.text {
  flex-grow: 0;
  margin-right: 2rem;
  color: var(--stronger-text-color);
  text-align: left;
  text-transform: uppercase;
}

.line {
  min-width: 2rem;
  height: 0;
  flex: 1 1 auto;
  border-top: 1px solid var(--divider-color);
  margin: 0;
}
