@use "@styles/vars" as *;

.divider {
  display: flex;
  margin: 2rem 1rem;

  &:first-child {
    margin-top: 0;
  }
}

.text {
  flex-grow: 0;
  margin-right: 2rem;
  color: var(--stronger-text-color);
  text-align: left;
  text-transform: uppercase;
}

.line {
  height: 1px;
  flex-grow: 10;
  margin: auto;
  background-color: var(--divider-color);
  text-align: center;
}
