@import "@styles/vars";

.drop {
  display: flex;
  padding-right: 0.65rem;
  border-right: 1px solid var(--element-border-color);
  cursor: pointer;

  & svg {
    margin-right: 1rem;
    fill: var(--icon-fill);
    transition: all 0.2s;
  }

  :global(.tooltip__tooltip) {
    top: -3rem;
    width: max-content;
    color: var(--danger-color) !important;
  }

  &:hover {
    svg {
      fill: var(--danger-color);
    }
  }

  &[data-active="true"] {
    :global(.tooltip__tooltip) {
      opacity: 0 !important;
    }

    svg {
      fill: var(--danger-color);
    }
  }
}
