@import '@styles/vars.scss';

.control {
  display: flex;
  cursor: pointer;

  & svg {
    margin-right: 1rem;
    fill: $grey;
    transition: all 0.2s;
  }

  :global(.tooltip__tooltip) {
    top: -3rem;
    left: -1rem;
    width: max-content;
    margin-right: 1rem;
    color: $red !important;
  }

  &:hover {
    svg {
      fill: $red;
    }
  }

  &[data-active='true'] {
    :global(.tooltip__tooltip) {
      opacity: 0 !important;
    }

    svg {
      fill: $red;
    }
  }
}
