@import "@styles/vars";

.intro {
  padding: 2rem 0;
  background-color: var(--element-background-color);
}

.content {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;

  @media (max-width: $tablet) {
    flex-direction: column-reverse;
  }
}

.info {
  @media (max-width: $tablet) {
    font-size: 1.7rem;
  }
}

.return {
  text-align: right;

  button {
    border-radius: 1rem;
    background-color: var(--secondary-element-background-color);
    color: var(--reverse-color);

    &:hover {
      background-color: var(--alternative-active-color);
      color: var(--dark-color);
    }
  }

  @media (max-width: $tablet) {
    margin-bottom: 1.5rem;
  }
}
