@import "@styles/vars";

.login_input {
  display: flex;
  background-color: #e8f0fd;

  svg {
    width: 3rem;
    cursor: pointer;
    fill: var(--icon-fill);
  }
}

.signup_input {
  &:global(.input__container) {
    height: 4.4rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--input-border-color);
    margin-top: 0.3rem;
    margin-bottom: 2rem;
  }

  &.success {
    border: 2px solid rgb(35 200 35);

    &:focus-within {
      border: 2px solid rgb(35 200 35);
    }
  }
}

.content {
  padding: 2.5rem;
  background-color: $white;

  @media (max-width: $mobile) {
    padding: 1.5rem;
  }
}

.module_title {
  margin-bottom: 1rem;
}

.warning {
  margin-bottom: 1rem;
}

.question {
  margin-bottom: 1.5rem;
}

.label {
  margin-bottom: 1.5rem;
}

.options {
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;

  p {
    margin: 0;
  }
}

.choice {
  display: flex;
}

.choice_item {
  width: 50%;
  padding: 0.5rem;
}
