@import "@styles/vars";

.start {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--background-color);
}

html:global(.light) .start {
  --background-color: var(--element-background-color);
}

html:global(.dark) .start {
  --background-color: var(--app-background-color);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;

  @media (width <= 1450px) {
    background-position: top 0 left -100px;
  }

  @media (max-width: $tablet) {
    justify-content: flex-start;
    background-position: bottom right;
    background-size: 50%;
  }

  @media (width <= 880px) {
    background-size: 55%;
  }

  @media (width <= 800px) {
    align-items: flex-start;
    background-size: 65%;
  }

  @media (max-width: $mobile) {
    background-size: 40%;
  }

  @media (max-width: $mobile-m) {
    background-size: 50%;
  }
}

html:global(.light) .content {
  background-image: url("~/public/img/light/start-background-light.png");

  @media (max-width: $tablet) {
    background-image: url("~/public/img/light/start-background-small-light.png");
  }

  @media (max-width: $mobile) {
    background-image: url("~/public/img/light/start-background-secondary-light.png");
  }
}

html:global(.dark) .content {
  background-image: url("~/public/img/dark/start-background-dark.png");

  @media (max-width: $tablet) {
    background-image: url("~/public/img/dark/start-background-small-dark.png");
  }

  @media (max-width: $mobile) {
    background-image: url("~/public/img/dark/start-background-secondary-dark.png");
  }
}

.intro {
  display: flex;
  width: 50%;
  height: 100%;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 2rem;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 300px;

  @media (width <= 1300px) {
    width: 47%;
  }

  @media (width <= 1200px) {
    background-position: right -25px bottom -25px;
  }

  @media (max-width: $tablet) {
    width: 100%;
    height: 600px;
    justify-content: center;
    padding: 0 4rem;
  }

  @media (width <= 800px) {
    width: 70%;
    justify-content: flex-start;
    padding-top: 10rem;
  }

  @media (width <= 725px) {
    width: 75%;
  }

  @media (max-width: $mobile) {
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: center;
    padding: 4rem 1.5rem;
  }

  h2 {
    color: var(--text-color);
    font-family: "Fredoka One";
    font-size: 6rem;
    font-weight: 400;

    @media (width <= 1300px) {
      font-size: 5rem;
    }

    @media (width <= 1100px) {
      font-size: 4rem;
    }

    @media (width <= 725px) {
      font-size: 3.25rem;
    }

    @media (max-width: $mobile-m) {
      font-size: 3rem;
    }

    @media (max-width: $mobile-sm) {
      font-size: 2.75rem;
    }
  }

  h1 {
    margin-bottom: 3.5rem;
    color: var(--text-color);
    // color: #6400bb;
    font-family: "Fredoka One";
    font-size: 10rem;
    font-weight: 400;
    line-height: 1;

    @media (width <= 1300px) {
      font-size: 8.75rem;
    }

    @media (width <= 1100px) {
      font-size: 7.5rem;
    }

    @media (width <= 725px) {
      font-size: 6.25rem;
    }

    @media (max-width: $mobile-m) {
      font-size: 5.5rem;
    }

    @media (max-width: $mobile-sm) {
      font-size: 5rem;
    }
  }

  p {
    max-width: 500px;
    margin-bottom: 3.5rem;
    // color: $gainsboro;
    font-size: 2.1rem;
    line-height: 1.8;

    @media (width <= 1300px) {
      font-size: 2rem;
    }

    @media (width <= 1100px) {
      font-size: 1.8rem;
    }

    @media (width <= 800px) {
      max-width: 400px;
    }

    @media (width <= 725px) {
      font-size: 1.7rem;
    }

    @media (max-width: $mobile-m) {
      font-size: 1.5rem;
    }
  }
}

html:global(.light) .intro {
  background-image: url("~/public/img/light/start-background-secondary-light.png");

  h1 {
    --text-color: #{$violet};
  }

  h2 {
    --text-color: #{$jade};
  }
}

html:global(.dark) .intro {
  background-image: url("~/public/img/dark/start-background-secondary-dark.png");

  h1 {
    --text-color: var(--active-color);
  }

  h2 {
    --text-color: var(--text-color);
  }
}

html:global(.light) .intro,
html:global(.dark) .intro {
  @media (max-width: $tablet) {
    background-image: none;
  }
}

.welcome {
  margin-bottom: 2rem;
  font-size: 2rem;

  @media (max-width: $mobile) {
    font-size: 1.5rem;
  }
}

.get_started {
  &:global(.interactive_element__element) {
    padding: 1.5rem 6rem;
    font-size: 1.75rem;

    @media (max-width: $mobile) {
      padding: 1.5rem 4rem;
      font-size: 1.5rem;
    }
  }
}
