@import "@styles/vars";

.header {
  padding: 2rem;
  border: 1px solid var(--element-border-color);
  margin: 2rem;
  background-color: var(--element-background-color);

  @media (max-width: $mobile) {
    margin: 2rem 0;
  }
}

.nickname {
  font-size: 2.5rem;

  @media (max-width: $mobile) {
    font-size: 2rem;
  }
}
