@import "@styles/vars";

$modal-background-color: #2b2a2c;

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  background-color: rgba($modal-background-color, 0.8);
  opacity: 0;
  transition-property: all;
  transition-timing-function: ease;

  @media (max-width: $mobile) {
    padding: 0;
  }
}

.dialog {
  position: relative;
  z-index: 2000;
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: var(--element-background-color);
  opacity: 0;
  transform: translateY(-30vh);
  transition-property: all;
  transition-timing-function: ease-out;

  @media (max-width: $mobile) {
    max-width: none;
    height: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  border: 1px solid var(--border-color);
  border-bottom: 1px solid var(--header-secondary-color);
  background-color: var(--header-color);

  @media (max-width: $mobile) {
    padding: 1.5rem;
  }
}

html:global(.light) .header {
  --border-color: var(--header-color);
}

html:global(.dark) .header {
  --border-color: var(--element-border-color);
}

.title {
  color: var(--light-color);
  font-size: 2.5rem;
}

.close {
  display: flex;
  justify-content: center;
  padding: 1.3rem;
  border: 2px solid var(--border-color);
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.1s;

  svg {
    width: 17px;
    height: 17px;
    fill: var(--icon-fill);
  }

  &:hover {
    background-color: var(--stronger-accentuated-color);

    svg {
      fill: var(--reverse-color);
    }
  }
}

html:global(.light) .close {
  --border-color: var(--stronger-accentuated-color);
  --icon-fill: var(--light-color);
}

html:global(.dark) .close {
  --border-color: var(--accentuated-color);
  --icon-fill: var(--accentuated-color);
}
