@import "@styles/vars";

.left,
.right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.back {
  display: none;

  @media (max-width: $tablet) or (max-height: $h-mobile) {
    display: flex;
  }

  svg {
    margin: 1rem 0;

    @media (max-width: $mobile) {
      margin: 0.5rem 0;
    }

    @media (max-width: $mobile-sm) {
      margin: 0.25rem 0;
    }
  }
}

.item {
  @media (max-width: $mobile) {
    display: none;
  }

  &.isGame {
    @media (max-width: $tablet) or (max-height: $h-mobile) {
      display: none;
    }
  }
}

.hamburger {
  @media (max-width: $mobile) {
    display: inline-block;
  }

  &.isGame {
    @media (max-width: $tablet) or (max-height: $h-mobile) {
      display: inline-block;
    }
  }
}
