@import "@styles/vars";

.main {
  position: relative;
  padding: 1.05rem 2.4rem 1.4rem;
  border-radius: 0 0 5px 5px;
  background-color: var(--element-background-color);
  transition: all 0.2s;

  @media (max-width: $mobile) {
    padding: 1.4rem;
    padding-top: 0.9rem;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 0 0 5px 5px;
    background-color: var(--highlighted-element-background-color);
    content: "";
    opacity: 0;
    transition: all 0.2s;
  }
}

.module {
  border: 1px solid var(--element-border-color);
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid var(--highlighted-element-border-color);

    .main::after {
      opacity: 1;
    }
  }
}

.header {
  padding: 0.55rem 2.4rem;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid var(--element-border-color);
  background-color: var(--element-background-color);

  @media (max-width: $mobile) {
    padding: 0.55rem 1rem;
  }
}

.created {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--subtle-text-color);
  font-size: 1.2rem;
}

.info {
  display: flex;
  margin-bottom: 0.5rem;
}

.term_number {
  padding-right: 1rem;
  color: var(--strong-subtle-text-color);
  line-height: 1.5rem;
}

.author {
  padding-left: 1rem;
  border-left: 1px solid var(--element-border-color);
  color: var(--strong-subtle-text-color);
  line-height: 1.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;

  &.highlighted {
    color: var(--accentuated-text-color);
  }

  @media (max-width: $mobile-sm) {
    font-size: 2rem;
  }
}
