@import '@styles/vars.scss';
@import '@styles/mixins.scss';
@import '@styles/animations.scss';

.indicator {
  position: relative;

  &.module {
    .dots {
      opacity: 0;
      top: -0.5rem;
      left: -0.5rem;
      height: 2.7rem;
      width: 2.7rem;
    }

    .dot {
      height: 0.4rem;
      width: 0.4rem;
    }

    .tooltip {
      opacity: 0;
      left: -1rem;
      top: -6rem;
    }

    svg {
      fill: $grey;
      height: 17px;
      width: 17px;
    }
  }

  &.flashcards,
  &.write {
    position: absolute;

    .dots {
      top: -0.6rem;
      left: -0.6rem;
      height: 3.4rem;
      width: 3.4rem;
    }

    .dot {
      height: 0.4rem;
      width: 0.4rem;
    }

    .tooltip {
      color: $green;
      left: 4rem;
      top: -1rem;
    }

    svg {
      fill: $green;
      height: 22px;
      width: 22px;
    }

    &:hover {
      .tooltip {
        opacity: 1;
      }
    }
  }

  &.flashcards {
    left: 2rem;
    top: 2rem;
  }

  &.write {
    &_question {
      left: 1rem;
      top: 1rem;
    }

    &_answer {
      right: 4rem;
      top: 2.5rem;

      .tooltip {
        left: -21rem;
        top: -1rem;
      }

      @media (max-width: $mobile) {
        top: 2rem;
        right: 3rem;
      }
    }
  }
}

.dots {
  position: absolute;

  transition: all 0.2s;
  transform-origin: center;
  animation: rotate 35s linear infinite;
}

.dot {
  position: absolute;
  background-color: $secondary;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.tooltip {
  @include tooltip;
  width: max-content;
  border-radius: 1.5rem;

  span {
    display: block;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }
}
