@import "@styles/vars.scss";
@import "@styles/animations.scss";

.indicator {
  position: relative;
  display: flex;
  align-items: center;

  svg {
    fill: $grey;
    height: 22px;
    width: 22px;
  }

  :global(.indicator__dots) {
    position: absolute;

    transition: all 0.2s;
    transform-origin: center;
    animation: rotate 35s linear infinite;

    opacity: 0;
    top: -0.6rem;
    left: -0.6rem;
    height: 3.4rem;
    width: 3.4rem;
  }

  :global(.indicator__dot) {
    position: absolute;
    background-color: $secondary;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    height: 0.4rem;
    width: 0.4rem;
  }

  :global(.tooltip__tooltip) {
    width: max-content;
    border-radius: 1.5rem;

    color: $grey;
    left: 4rem;
    top: -1rem;

    span {
      display: block;
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }
  }

  &.small {
    :global(.indicator__dots) {
      top: -0.5rem;
      left: -0.5rem;
      height: 2.7rem;
      width: 2.7rem;
    }

    :global(.indicator__dot) {
      height: 0.4rem;
      width: 0.4rem;
    }

    :global(.tooltip__tooltip) {
      left: -1rem;
      top: -6rem;
    }

    svg {
      fill: $grey;
      height: 17px;
      width: 17px;
    }
  }

  &.active {
    svg {
      fill: $green;
    }

    :global(.indicator__dots) {
      opacity: 1;
    }

    :global(.tooltip__tooltip) {
      color: $green;
    }
  }
}
