@import "@styles/vars.scss";

.sr_control {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-right: 2px solid $grey-light;

  :global(.tooltip__tooltip) {
    left: 1.5rem;
  }

  :global(.switch__checkbox):checked {
    & ~ :global(.tooltip__tooltip) {
      color: $green;
    }

    & ~ :global(.switch__switch) {
      border-color: $green;

      &::after {
        background-color: $green;
      }
    }

    & ~ svg {
      fill: $green;
    }
  }
}
