@import "@styles/vars";

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  @media (width <= 550px) {
    flex-direction: column;
  }
}

.author {
  @media (width <= 550px) {
    margin-bottom: 1.5rem;
  }
}

.created {
  display: block;
  min-height: 1.6rem;
  color: var(--subtle-text-color);
  font-size: 1.2rem;
}

.nickname {
  display: block;
  min-height: 2.5rem;
  color: var(--stronger-subtle-text-color);
  font-size: 1.8rem;
  font-weight: bold;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-right: 1rem;
  margin-bottom: auto;

  @media (max-width: $mobile-sm) {
    align-self: center;
    margin-right: 0;
  }
}

.nav_item {
  display: inline-block;
  border-radius: 5rem;
  margin-left: 1.5rem;
  cursor: pointer;

  & svg {
    fill: var(--icon-fill);
    transition: all 0.1s linear;
    vertical-align: middle;
  }

  & :global(.tooltip__tooltip) {
    color: var(--danger-color);
  }

  &:hover {
    & svg {
      fill: var(--danger-color);
    }
  }
}

.confirm {
  &:global(.confirm-popup__confirm) {
    top: -11rem;
    left: -9.5rem;
    width: 23rem;

    @media (max-width: $mobile) {
      left: 1.75rem;
    }
  }
}
