@use "@styles/vars" as *;

.finish {
  width: 100%;
  padding: 2.5rem 4rem;
  border: 1px solid var(--element-border-color);
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: var(--element-background-color);

  &:focus {
    outline: none;
  }

  @media (max-width: $mobile) {
    padding: 1.5rem 3rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  @media (max-width: $mobile-sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header_item {
  @media (max-width: $mobile-sm) {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  button {
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: var(--secondary-element-background-color);
    color: var(--reverse-color);
    font-size: 1.5rem;

    @media (max-width: $mobile) {
      padding: 1rem 2rem;
    }

    &:hover {
      background-color: var(--alternative-active-color);
      color: var(--active-secondary-color);
    }
  }
}

.title {
  margin-bottom: 0.6rem;
  line-height: 1;
}

.stats {
  color: var(--subtle-text-color);
  line-height: 1;
}

.body_item {
  &:not(:first-child) {
    padding-top: 1.5rem;
    border-top: 1px solid var(--element-border-color);
    margin-top: 1.5rem;
  }
}

.body_header {
  margin-bottom: 1rem;
  font-size: 1.2rem;

  &.correct {
    color: var(--success-color);
  }

  &.incorrect {
    color: var(--danger-color);
  }
}

.body_main {
  display: flex;
  width: 100%;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.body_left,
.body_right {
  flex: 1;
  font-size: 1.7rem;
}

.body_left {
  display: flex;
  align-items: flex-start;
  align-self: start;

  @media (max-width: $mobile) {
    margin-bottom: 1.5rem;
  }
}

.icon {
  display: flex;
  margin-right: 1rem;

  &.correct svg {
    fill: var(--success-color);
  }

  &.incorrect svg {
    fill: var(--danger-color);
  }
}

.term {
  display: flex;
  line-height: 1;

  & span {
    padding-right: 1rem;
  }

  &.correct {
    color: var(--success-color);
  }

  &.incorrect {
    color: var(--danger-color);
  }
}

.img {
  width: 10rem;
  height: 7.5rem;
  margin-top: 1rem;
}
