@import "@styles/vars";

.divider {
  display: flex;
  margin: 0 1rem 2rem 0;
  margin-top: 2rem;

  &:first-child {
    margin-top: 0;
  }
}

.text {
  flex-grow: 0;
  margin-right: 2rem;
  color: var(--strong-text-color);
  text-align: left;
  text-transform: uppercase;
}

.line {
  height: 1px;
  flex-grow: 10;
  margin: auto;
  background-color: var(--divider-color);
  text-align: center;
}
