@use "@styles/vars" as *;

.left,
.right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.back:global(.interactive_element__element) {
  display: none;

  @media (max-width: $tablet) or (max-height: $h-mobile) {
    display: flex;
  }
}

.back {
  svg {
    margin: 1rem 0;

    @media (max-width: $mobile) {
      margin: 0.5rem 0;
    }

    @media (max-width: $mobile-sm) {
      margin: 0.25rem 0;
    }
  }
}

.item:global(.interactive_element__element) {
  @media (max-width: $mobile) {
    display: none;
  }

  &.isGame {
    @media (max-width: $tablet) or (max-height: $h-mobile) {
      display: none;
    }
  }
}

.hamburger:global(.hamburger__hamburger) {
  @media (max-width: $mobile) {
    display: inline-block;
  }

  &.isGame {
    @media (max-width: $tablet) or (max-height: $h-mobile) {
      display: inline-block;
    }
  }
}
