@import "@styles/vars";

.study_regime {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 2.4rem;
  border: 1px solid var(--element-border-color);
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: var(--element-background-color);
  cursor: auto;

  @media (max-width: $mobile) {
    padding: 1.4rem;
  }

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.description {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet) {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--element-border-color);
  }
}

.title {
  color: var(--accentuated-color);
  font-size: 2.5rem;
  font-weight: bold;

  @media (max-width: $mobile-sm) {
    font-size: 2.5rem;
  }
}

.info {
  margin-top: 0.5rem;
  list-style: none;

  span {
    color: var(--accentuated-color);
    font-weight: bold;
  }
}

.repeat {
  text-align: right;

  @media (max-width: $tablet) {
    align-self: flex-start;
    margin-top: 1rem;
    text-align: left;
  }

  p {
    span {
      color: var(--accentuated-color);
    }
  }

  p:nth-child(1) {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1;
  }

  p:nth-child(2) {
    margin-bottom: 1rem;
    line-height: 1;
  }
}

.item {
  display: flex;
  width: 6rem;
  height: 6rem;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--accentuated-color);
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s;

  svg {
    fill: var(--accentuated-color);
    transition: all 0.2s;
  }

  &:hover {
    border: 2px solid var(--alternative-active-color);

    svg {
      fill: var(--alternative-active-color);
    }
  }

  &:not(:last-child) {
    margin-right: 0.75rem;
  }
}

.methods {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;

  @media (max-width: $tablet) {
    justify-content: flex-start;
  }
}
