@import "@styles/vars";

.confirm {
  position: absolute;
  z-index: 2000;
  display: flex;
  width: 20rem;
  height: 9rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  border: 1px solid var(--element-border-color);
  border-radius: 0.5rem;
  background-color: var(--element-background-color);
  opacity: 0;
  pointer-events: none;
  text-align: center;
  transition: all 0.2s;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  & p {
    width: 100%;
    font-size: 1.5rem;
  }
}

.answer {
  z-index: 30;
  display: inline-block;
  padding: 0.75rem 2.5rem;
  border-radius: 0.75rem;
  color: var(--reverse-text-color);
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.2s;
  user-select: none;

  &:hover {
    animation: pulse 1.25s linear infinite;
  }

  &[data-answer="false"] {
    background-color: $palegreen;

    &:hover {
      background-color: $green;
    }
  }

  &[data-answer="true"] {
    background-color: $palered;

    &:hover {
      background-color: $red;
    }
  }
}
