@use "@styles/vars" as *;

.study {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--element-border-color);
}

.title {
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.item {
  & button {
    margin-bottom: 0.3rem;
    font-size: 1.6rem;

    & svg {
      margin-right: 0.5rem;
      fill: var(--accentuated-color);
      transition: all 0.1s linear;
      vertical-align: middle;
    }

    & span {
      display: inline-block;
      vertical-align: middle;
    }

    &:hover {
      color: var(--active-color);

      & svg {
        fill: var(--active-color);
      }
    }
  }
}
