@import "@styles/vars.scss";

.round {
  width: 100%;
  padding: 2.5rem 4rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: $white;
  box-shadow: 0 0 1.25rem -0.1rem rgb(0 0 0 / 28%);

  &:focus {
    outline: none;
  }

  @media (max-width: $mobile) {
    padding: 1.5rem 3rem;
  }
}

.title {
  margin-bottom: 2.5rem;
  color: $grey;
}

.body {
  margin-bottom: 3rem;
}

.continue {
  text-align: center;
}
