@import "@styles/vars";
@import "@styles/animations";

.container {
  display: flex;
  width: 100vw;
  flex: 1;
  flex-direction: column;
  padding: 2.5rem;
  padding-left: calc(19.5rem + 2.5rem);

  @media (max-width: $tablet) or (max-height: $h-mobile) {
    padding: 1.5rem;
    padding-right: 3rem;
  }

  @media (hover: none) {
    padding-right: 1.5rem;
  }

  &.scrollable {
    overflow: visible !important;
  }

  &.unscrollable {
    overflow: hidden !important;
  }
}

.components {
  display: flex;
  width: 100%;
  max-width: 67.5rem;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;

  &.loading {
    justify-content: center;
  }
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;

  &::after {
    display: block;
    width: 64px;
    height: 64px;
    border: 6px solid var(--active-color);
    border-color: var(--active-color) transparent var(--active-color)
      transparent;
    border-radius: 50%;
    margin: 7px;
    animation: lds-dual-ring 1.2s linear infinite;
    content: " ";
  }
}
