@import "@styles/vars.scss";
@import "@styles/animations.scss";

.container {
  padding: 2.5rem;
  padding-left: calc(19.5rem + 2.5rem);

  @media (max-width: $tablet) {
    padding: 1.5rem;
  }

  &.scrollable {
    overflow-y: auto;
    overflow-x: hidden !important;
  }

  &.unscrollable {
    overflow: hidden !important;
  }
}

.components {
  margin: 0 auto;
  max-width: 67.5rem;

  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;

  &.scrollable {
    min-height: 100%;
  }

  &.unscrollable {
    height: 100%;
  }
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;

  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 7px;
    border-radius: 50%;
    border: 6px solid $tertiary;
    border-color: $tertiary transparent $tertiary transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}
