@import '@styles/vars.scss';

.content {
  background-color: $grey-light;
  padding: 2rem;
  padding-bottom: 4rem;

  @media (max-width: $mobile) {
    padding: 2rem 0;
  }
}

.filter {
  margin-bottom: 4rem;

  @media (max-width: $mobile) {
    margin-bottom: 2.5rem;
  }
}
