@import "@styles/vars";

.item {
  display: inline-flex;
  border-left: 1px solid var(--divider-color);
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    color: var(--active-color);
  }

  a {
    padding: 0.8rem 2rem;

    @media (max-width: $mobile) {
      padding: 0.8rem 1.5rem;
    }
  }

  &:first-child {
    border-color: transparent;
  }

  &.active {
    border-color: var(--active-color);
    background-color: var(--active-color);
    color: var(--active-secondary-color);

    &:hover {
      color: var(--active-secondary-color);
    }
  }

  &.active + & {
    border-color: var(--active-color);
  }
}

/* stylelint-disable-next-line no-descending-specificity */
body:global(.light) .item {
  --text-color: var(--accentuated-color);
}

/* stylelint-disable-next-line no-descending-specificity */
body:global(.dark) .item {
  --text-color: var(--alternative-active-color);
}
