@import "@styles/vars.scss";

.item {
  display: inline-flex;
  border-left: 1px solid var(--divider-color);
  color: var(--accentuated-text-color);
  cursor: pointer;
  transition: all 0.1s linear;

  a {
    padding: 0.8rem 2rem;

    @media (max-width: $mobile) {
      padding: 0.8rem 1.5rem;
    }
  }

  &:first-child {
    border-color: transparent;
  }

  &.active {
    border-color: var(--highlighted-element-border-color);
    background-color: var(--highlighted-element-border-color);
    color: var(--strong-text-color);
  }

  &.active + & {
    border-color: var(--highlighted-element-border-color);
  }
}
