@import '@styles/vars.scss';

.item {
  display: inline-flex;
  cursor: pointer;
  border-left: 1px solid #cecece;
  color: $secondary;
  transition: all 0.1s linear;

  &:hover {
    color: $tertiary;
  }

  a {
    padding: 0.8rem 2rem;

    @media (max-width: $mobile) {
      padding: 0.8rem 1.5rem;
    }
  }

  &:first-child {
    border-color: transparent;
  }

  &.active {
    background-color: $tertiary;
    color: $grey;
    border-color: $tertiary;

    &:hover {
      color: $grey;
    }
  }

  &.active + & {
    border-color: $tertiary;
  }
}
