@import "@styles/vars";

.item {
  font-size: 1.75rem;
}

.plain {
  color: var(--light-color);

  :global(.interactive_element__icon) {
    fill: var(--light-color);
  }

  &:hover {
    color: var(--light-color);
    opacity: 0.8;

    :global(.interactive_element__icon) {
      fill: var(--light-color);
      opacity: 0.8;
    }
  }
}

.padded {
  padding: 1.2rem 2.7rem;

  @media (max-width: $mobile) {
    padding: 1rem 2rem;
  }
}
