@use "@styles/vars" as *;

.item {
  font-size: 1.75rem;
}

.item.plain,
.item.padded {
  font-size: 1.75rem;
}

.item.plain {
  color: var(--light-color);

  :global(.interactive_element__icon) {
    fill: var(--light-color);
  }

  &:hover {
    color: var(--light-color);
    opacity: 0.8;

    :global(.interactive_element__icon) {
      fill: var(--light-color);
      opacity: 0.8;
    }
  }
}

.item.padded {
  padding: 1rem 2.7rem;

  @media (max-width: $tablet) {
    padding: 0.8rem 2rem;
  }
}
