@import "@styles/vars";

.carousel {
  z-index: 20;
  display: flex;
  height: 15rem;
  justify-content: center;
  transition: all 0.2s;
  transition-delay: 0.2s;

  &.hide {
    opacity: 0;
    transition-delay: 0;
    visibility: hidden;
  }
}

.window {
  overflow: hidden;
  width: 68rem;

  &.game {
    width: 51rem;
  }

  @media screen and (width <= 62.5em) {
    width: 51rem;
    min-width: 51rem;
  }

  @media screen and (width <= 50em) {
    width: 34rem;
    min-width: 34rem;
  }

  @media screen and (width <= 37.5em) {
    width: 17rem;
    min-width: 17rem;
  }
}

.track {
  display: flex;
  width: 0;
  height: 100%;
  padding: 0 1rem;
  transform: translateX(0);
  transition: all 0.3s;
}

.item {
  min-width: 15rem;
  height: 15rem;
  cursor: pointer;
  transition: all 0.3s;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.hidden {
    display: none;
  }

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &:hover {
    border: 5px solid var(--active-color);
  }
}

.control {
  button {
    position: relative;
    display: inline-flex;
    padding: 1.5rem;
    border-radius: 50%;
  }

  &.left button svg {
    transform: translate(-12px, -10px);
  }

  &.right button svg {
    transform: translate(-7.5px, -10px);
  }

  &.left {
    margin-right: 1rem;
  }

  &.right {
    margin-left: 1rem;
  }

  &.left,
  &.right {
    position: relative;
    align-self: center;

    button {
      width: 4rem;
      height: 4rem;
      border: 1px solid var(--button-border-color);
      background-color: var(--button-background-color);

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2rem;
        height: 2rem;
        fill: var(--icon-fill);
        transition: all 0.2s;
      }
    }

    button:hover {
      border-color: var(--active-color);
      background-color: var(--active-color);

      svg {
        fill: var(--active-secondary-color);
      }
    }

    &[data-active="false"] {
      button {
        border-color: var(--inactive-color);
        background-color: var(--inactive-color);
        cursor: auto;

        svg {
          fill: var(--inactive-secondary-color);
        }

        &:hover {
          svg {
            fill: var(--inactive-secondary-color);
          }
        }
      }
    }
  }
}

html:global(.light) .control {
  --button-background-color: var(--success-color);
  --button-border-color: var(--success-color);
  --icon-fill: var(--light-color);
}

html:global(.dark) .control {
  --button-background-color: var(--element-background-color);
  --button-border-color: var(--active-color);
  --icon-fill: var(--active-color);
}
