@import '@styles/vars.scss';

.sr_control {
  border-right: 2px solid $grey-light;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  :global(.tooltip) {
    left: 1.5rem;
  }

  :global(.checkbox):checked {
    & ~ :global(.tooltip) {
      color: $green;
    }

    & ~ :global(.toggle) {
      border-color: $green;

      &:after {
        background-color: $green;
      }
    }

    & ~ svg {
      fill: $green;
    }
  }
}
