@import "@styles/vars";

.save {
  :global(.switch__checkbox):checked {
    & ~ :global(.tooltip__tooltip) {
      border-color: var(--success-color);
      color: var(--success-color);
    }

    & ~ :global(.switch__switch) {
      border-color: var(--success-color);

      &::after {
        background-color: var(--success-color);
      }
    }

    & ~ svg {
      fill: var(--success-color);
    }
  }
}
