@use "@styles/vars" as *;
@use "@styles/animations";

.background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button {
  position: relative;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &.cod {
    .background {
      background-image: url("/img/cod-logo.png");
    }
  }

  &.urban {
    .background {
      border-radius: 50%;
      background-image: url("/img/urban-logo.jpg");
    }
  }

  :global(.tooltip__tooltip) {
    color: var(--accentuated-color);
  }

  &:hover span {
    opacity: 1;
  }

  &::after {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--active-color);
    border-radius: 50%;
    border-right: 3px solid transparent;
    animation: spin-secondary 1.75s linear infinite;
    box-shadow: 0 0 13px 2px rgb(0 0 0 / 82%);
    content: "";
    opacity: 0;
    transition: all 0.3s ease;
  }

  @media (max-width: $mobile) {
    span {
      display: none !important;
    }
  }
}

.scrape {
  display: flex;
  padding: 1rem 2rem;
  border-top: 1px solid var(--element-border-color);

  &.loading {
    .button {
      cursor: auto;

      .background {
        filter: grayscale(100%);
      }

      &:hover span {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }
}
