@import "@styles/vars.scss";

.finish {
  width: 100%;
  padding: 2.5rem 4rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: $white;
  box-shadow: 0 0 1.25rem -0.1rem rgb(0 0 0 / 28%);

  &:focus {
    outline: none;
  }

  @media (max-width: $mobile) {
    padding: 1.5rem 3rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  @media (max-width: $mobile-sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header_item {
  @media (max-width: $mobile-sm) {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.title {
  margin-bottom: 0.6rem;
  line-height: 1;
}

.stats {
  color: $grey-lighter;
  line-height: 1;
}

.body_item {
  &:not(:first-child) {
    padding-top: 1.5rem;
    border-top: 0.2rem solid #f4f4f4;
    margin-top: 1.5rem;
  }
}

.body_header {
  margin-bottom: 1rem;
  font-size: 1.2rem;

  &.correct {
    color: $green;
  }

  &.incorrect {
    color: $red;
  }
}

.body_main {
  display: flex;
  width: 100%;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.body_left,
.body_right {
  flex: 1;
}

.body_left {
  display: flex;
  align-items: flex-start;
  align-self: start;

  @media (max-width: $mobile) {
    margin-bottom: 1.5rem;
  }
}

.icon {
  display: flex;
  margin-right: 1rem;

  &.correct svg {
    fill: $green;
  }

  &.incorrect svg {
    fill: $red;
  }
}

.term {
  display: flex;
  line-height: 1;

  & span {
    padding-right: 1rem;
  }

  &.correct {
    color: $green;
  }

  &.incorrect {
    color: $red;
  }
}

.img {
  width: 10rem;
  height: 7.5rem;
  margin-top: 1rem;
}
