// =========== Dev panel

.devpanel {
  position: fixed;
  width: 300px;
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.28);
  top: 100px;
  right: 100px;
  z-index: 10000;

  &__header {
    background-color: #4257b2;
    padding: 1rem;
  }

  &__body {
    min-height: 30px;
    background-color: $white;
    padding: 1rem;
  }
}
