.edit {
  &__intro {
    padding: 2rem 0;
    background-color: $white;
  }

  &__intro-content {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }
  }

  &__intro-info {
    color: $grey;

    @media (max-width: $tablet) {
      font-size: 1.7rem;
    }
  }

  &__intro-return {
    text-align: right;

    @media (max-width: $tablet) {
      margin-bottom: 1.5rem;
    }
  }

  // =========== Edit Module

  &__module {
    padding: 3rem 0 1.5rem;
    background-color: $white;

    @media (max-width: $tablet) {
      padding-bottom: 1.25rem;
    }
  }

  &__module-content {
    display: flex;
    text-align: left;
    font-size: 2rem;
    padding: 0 2rem;

    @media (max-width: $mobile) {
      display: block;
    }
  }

  &__module-title {
    width: 50%;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__module-control {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.5rem;
    border-top: 2px solid #f0f0f0;
    margin-top: 3rem;

    @media (max-width: $tablet) {
      padding-top: 1.25rem;
    }
  }

  // =========== Edit Cards

  &__cards {
    padding: 2rem 0;
  }

  &__cards-container {
    padding-bottom: 2rem;
  }

  &__cards-addcard {
    padding: 3rem 2rem;
    background-color: $white;
    text-align: center;
  }

  // =========== Edit Save

  &__save {
    padding-bottom: 2rem;
  }

  &__save-module {
    text-align: center;

    @media (max-width: $mobile-sm) {
      text-align: left;
    }
  }
}

// =========

// think about creating a toggle component
.edit {
  &__save-include,
  &__all-cards-save-include {
    @include tooltip-container;

    & span {
      @include tooltip;
    }
  }

  &__study-progress,
  &__save-include,
  &__all-cards-save-include {
    position: relative;
    padding-right: 1.5rem;

    & span {
      top: -3rem;
      right: 1.5rem;
      width: max-content;
    }
  }

  &__study-progress,
  &__save-include {
    border-right: 2px solid $grey-light;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox {
    &:checked {
      & ~ .edit__toggle-switch {
        &:after {
          left: 26px;
        }
      }

      & ~ .edit__toggle-switch.sm {
        &:after {
          left: 16.5px;
        }
      }
    }

    &--save {
      &:checked {
        & ~ span {
          color: $green;
          border-color: $green;
        }

        & ~ .edit__toggle-switch {
          border-color: $green;
          &:after {
            background-color: $green;
          }
        }

        & ~ svg {
          fill: $green;
        }
      }
    }
  }

  &__toggle-switch {
    @include toggle-switch;
  }
}
