// === Header

.module {
  display: flex;
  flex-direction: column;
  min-height: 90vh;

  &__header {
    flex-grow: 0;

    padding: 2rem 0;
    background-color: $white;
  }

  &__header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }

  &__title {
    color: $grey;

    @media (max-width: $tablet) {
      width: 100%;
    }

    @media (max-width: $mobile) {
      font-size: 1.3rem;
    }
  }

  &__return {
    text-align: right;

    @media (max-width: $tablet) {
      margin-bottom: 1.5rem;
    }
  }

  &__body {
    flex-grow: 1;
    padding: 3rem 0;
  }

  &__study {
    padding-bottom: 4rem;
    border-bottom: 2px solid $grey-light;
  }

  &__study-title {
    color: $grey;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }

  &__study-item {
    & button {
      color: $grey;
      font-size: 1.6rem;
      margin-bottom: 0.3rem;
      & svg {
        vertical-align: middle;
        margin-right: 0.5rem;
        fill: $primary;
        transition: all 0.1s linear;
      }
      & span {
        display: inline-block;
        vertical-align: middle;
      }

      &:hover {
        color: $tertiary;
        & svg {
          fill: $tertiary;
        }
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    @media (max-width: 550px) {
      flex-direction: column;
    }
  }

  &__author {
    @media (max-width: 550px) {
      margin-bottom: 1.5rem;
    }
  }

  &__author-created {
    color: rgb(134, 134, 134);
    display: block;
    font-size: 1.2rem;
  }

  &__author-nickname {
    color: $grey;
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
  }

  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;

    @media (max-width: $mobile-sm) {
      align-self: center;
      margin-right: 0;
    }
  }
}

.module {
  &__nav-item {
    display: inline-block;
    margin-left: 1.5rem;
    border-radius: 5rem;
    cursor: pointer;

    & svg {
      fill: $grey;
      vertical-align: middle;
      transition: all 0.1s linear;
    }

    &:hover {
      & svg {
        fill: rgba(255, 0, 0, 0.856);
      }
    }
  }

  &__edit {
    margin-right: 1rem;
  }

  // === Body

  &__param {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__search {
    width: 70%;

    @media (max-width: $tablet) {
      margin-top: 1.5rem;
    }
  }

  &__select-group {
    display: flex;
  }

  &__select {
    height: 4rem;

    &--1 {
      width: 11.5rem;
    }

    @media (max-width: $tablet) {
      margin-top: 1.5rem;
    }
  }

  &__search-container {
    display: flex;
    justify-content: flex-end;
    transition: all 0.2s;

    input {
      max-width: 30rem;
      margin-right: 1.5rem;
    }

    @media (max-width: $tablet) {
      flex-direction: column;

      input {
        margin-right: 0;
      }
    }
  }

  &__none-found {
    text-align: center;
    font-size: 1.7rem;
  }

  &__count {
    color: $grey;
    font-size: 2rem;
    font-weight: bold;
  }

  &__card-header {
    display: flex;
    justify-content: space-between;
    padding: 0.55rem 2rem;
    background-color: $white;
    border-bottom: 2px solid #f0f0f0;
  }

  &__card-created {
    color: $grey-lighter;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card-link {
    @include tooltip-container;

    cursor: pointer;
    position: relative;
    font-size: 1.2rem;

    svg {
      fill: $grey-lighter;
      width: 1.8rem;
      height: 1.8rem;
      transition: all 0.1s linear;
    }

    &:hover {
      svg {
        fill: $tertiary;
      }
    }

    span {
      @include tooltip;
      width: max-content;
      right: 0;
      top: -3.25rem;
      color: $tertiary;
    }
  }

  &__card-main {
    display: flex;
    background-color: $white;
    padding: 2rem;
    min-height: 10rem;
    margin-bottom: 1.5rem;

    @media (max-width: $tablet-sm) {
      flex-direction: column;
    }
  }

  &__card-term {
    position: relative;
    width: 30%;
    text-align: center;
    padding: 3rem 1.5rem 0 1.5rem;
    border-right: 2px solid $grey-light;

    font-size: 1.7rem;

    overflow-wrap: break-word;

    @media (max-width: $tablet-sm) {
      width: 100%;
      text-align: left;
      border-right: none;
      border-bottom: 2px solid $grey-light;
      padding: 3rem 1rem 1.5rem 1rem;
    }
  }

  &__card-controls {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
  }

  &__card-controls-item {
    &:not(:last-child) {
      border-right: 2px solid $grey-light;
      padding-right: 1.25rem;
      margin-right: 1.25rem;
    }
  }
}

.module {
  &__card-definition-container {
    width: 70%;

    display: flex;

    @media (max-width: $tablet) {
      flex-direction: column;
    }

    @media (max-width: $tablet-sm) {
      width: 100%;
      padding-top: 1.5rem;
    }
  }

  &__card-definition {
    padding: 3rem 1.5rem 0 1.5rem;
    position: relative;
    font-size: 1.7rem;
    overflow-wrap: break-word;
    text-align: left;

    flex: 1;

    @media (max-width: $tablet) {
      padding: 3rem 1rem 0 1rem;
      flex-direction: column;
    }
  }

  &__card-img-container {
    display: flex;
    align-items: center;
    justify-content: center;

    align-self: center;
    width: 20%;

    &--inactive {
      display: none;
    }

    @media (max-width: $tablet) {
      padding: 0 1rem;
      margin-left: 0;
      margin-top: 1rem;
      width: 100%;
      justify-content: flex-start;
    }
  }

  &__card-img {
    margin: 0 auto;
    width: 12rem;
    height: 10rem;
    border-radius: 5px;

    background-size: cover;
    background-position: center;

    @media (max-width: $tablet) {
      margin: 0;
    }
  }
}

.module {
  &__drop-studyregime,
  &__study-regime,
  &__drop-card-study-regime {
    @include tooltip-container;

    & span {
      @include tooltip;
    }
  }

  &__card-study-regime {
    @include tooltip-container;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox {
    &:checked {
      & ~ span {
        color: $green;
        border-color: $green;
      }

      & ~ .module__toggle-switch {
        border-color: $green;
        &:after {
          left: 26px;
          background-color: $green;
        }
      }

      & ~ .module__toggle-switch.sm {
        &:after {
          left: 16px;
        }
      }

      & ~ .sr-indicator {
        svg {
          fill: $green;
        }
      }

      & ~ .sr-indicator {
        .sr-indicator__dots {
          opacity: 1;
        }
      }

      & ~ svg {
        fill: $green;
      }
    }
  }

  &__toggle-switch {
    @include toggle-switch;
  }

  &__speaker {
    @include speaker;
  }

  &__speaker {
    right: 1rem;
    top: 0;

    svg {
      height: 17px;
      width: 17px;
    }
  }
}

.module {
  &__study-regime,
  &__drop-studyregime {
    position: relative;
    border-right: 2px solid $grey-light;

    & span {
      top: -3rem;
      width: max-content;
    }
  }

  &__study-regime {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  &__drop-studyregime {
    cursor: pointer;
    padding-right: 0.65rem;

    span {
      color: $red !important;
    }

    &:hover {
      svg {
        fill: $red;
      }
    }

    &[data-active='true'] {
      span {
        opacity: 0 !important;
      }

      svg {
        fill: $red;
      }
    }
  }

  &__card-study-regime,
  &__drop-card-study-regime {
    position: relative;

    border: none;

    & span {
      margin-right: 1rem;
      top: -3rem;
      width: max-content;
    }
  }

  &__card-study-regime {
    margin-left: 0.5rem;

    & svg {
      margin-right: 1.3rem !important;
    }

    &:hover {
      .sr-indicator__tooltip {
        opacity: 1;
      }
    }

    & .module__checkbox {
      &:checked {
        & ~ .sr-indicator {
          .sr-indicator__tooltip {
            color: $green;
          }
        }
      }
    }
  }

  /* &__dots {
    position: absolute;
    top: -2.6px;
    // transform: translateY(-50%);
    left: -0.5rem;
    height: 2.7rem;
    width: 2.7rem;
    opacity: 0;
    transition: all 0.2s;
    transform-origin: center;
    animation: rotate 30s linear infinite;
  }

  &__dot {
    position: absolute;
    height: 0.4rem;
    width: 0.4rem;
    background-color: $secondary;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  } */

  &__drop-card-study-regime {
    cursor: pointer;

    & span {
      left: -1rem;
      color: $red !important;
    }

    &:hover {
      svg {
        fill: $red;
      }
    }

    &[data-active='true'] {
      span {
        opacity: 0 !important;
      }

      svg {
        fill: $red;
      }
    }
  }

  &__question {
    position: absolute;
    top: -10.5rem;
    left: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: $white;
    box-shadow: 0 0 1.25rem 0 rgba($grey, 0.28);
    padding: 0.5rem;
    border-radius: 1rem;
    height: 9rem;
    width: 20rem;

    transition: all 0.2s;
    z-index: 2000;

    opacity: 0;
    pointer-events: none;

    &[data-active='true'] {
      opacity: 1;
      pointer-events: auto;
    }

    & p {
      font-size: 1.5rem;
      width: 100%;
    }

    @media (max-width: $mobile) {
      left: 1rem;
    }

    &--big {
      width: 22rem;
      top: -11rem;
      left: -9.5rem;

      @media (max-width: $mobile) {
        left: 1.75rem;
      }
    }
  }

  &__question-answer {
    z-index: 30;
    cursor: pointer;
    display: inline-block;
    padding: 0.75rem 2.5rem;
    border-radius: 0.75rem;
    transition: all 0.2s;
    color: $white;
    user-select: none;
    font-size: 1.5rem;

    &:hover {
      animation: pulse 1.25s linear infinite;
    }

    &[data-answer='false'] {
      background-color: $palegreen;

      &:hover {
        background-color: $green;
      }
    }

    &[data-answer='true'] {
      background-color: $palered;

      &:hover {
        background-color: $red;
      }
    }
  }

  &__edit-card {
    display: flex;
    cursor: pointer;

    & svg {
      fill: $grey;
      vertical-align: middle;
      transition: all 0.1s linear;
    }

    &:hover {
      & svg {
        fill: rgba(255, 0, 0, 0.856);
      }
    }
  }
}
