$black: #2b2a2c;
$grey: rgb(78 78 78);
$grey-lighter: #97a5aa;
$grey-light: #f0f0f0;
$grey-medium: #c7c7c7;

$tertiary: #ffcd1f;
$secondary: #00ad57;
$primary-pale: #d5c8e0;
$primary: #54267b;
$primary-drak: #431c64;
$palered: #ffd4cd;
$red: #ff725b;
$palegreen: #bde8d3;
$green: #23b26d;

/* ======= */

$mobile-sm: 350px;
$mobile-m: 450px;
$mobile: 620px;
$tablet-sm: 767px;
$tablet: 991px;
$notebook: 1199px;

$h-mobile-sm: 350px;
$h-mobile: 620px;
$h-tablet: 840px;

/* ======= */

$white: #fff;

$dandelion: #ffdd67;
$lightning-yellow: #ffcd1f;
$orange-peel: #ff9800;
$orange: #ff5722;
$jade: #00ad57;

$concrete: #f3f3f3;
$silver-foil: #979797;
$quartz: #4b4b4b;
$jet: #363636;
$raisin-black: #232323;

/* $cultured: #f5f5f5; */
$lotion: #fdfdfd;
$anti-flash-white: #f0f0f0;
$gainsboro: #dbdbdb;
$philippine-silver: #b6b6b6;
$cadet-grey: #97a5aa;
$dim-gray: #696969;
$dark-liver: #4e4e4e;

$languid-lavender: #d5c8e0;
$regalia: #54267b;
$american-purple: #431c64; /* old dark */
// $jacarta: #4a2b63; /* new dark  */

$light-red: #ffd4cd;
$bittersweet: #ff725b;
$whero-red: #da2626;
$magic-mint: #bde8d3;
$crayola: #23b26d;

body.light {
  /* general app element colors */
  --app-background-color: #{$concrete};
  --element-background-color: #{$lotion};
  --element-border-color: #{$gainsboro};
  --secondary-element-background-color: #{$jade};
  --icon-fill: #{$dark-liver};
  --input-border-color: #{$jet};
  --divider-color: #{$philippine-silver};
  --header-background-color: #{$regalia};
  --header-border-color: #{$american-purple};
  --scroll-top-background-color: #{$regalia};
  --scroll-top-icon-fill: #{$anti-flash-white};

  /* text */
  --text-color: #{$dark-liver};
  --stronger-text-color: #{$jet};
  --secondary-text-color: #{$regalia};
  --subtle-text-color: #{$cadet-grey};
  --stronger-subtle-text-color: #{$dim-gray};

  /* general state */
  --inactive-color: #{$gainsboro};
  --success-color: #{$crayola};
  --danger-color: #{$bittersweet};
  --strong-danger-color: #{$whero-red};
  --active-color: #{$lightning-yellow};
  --active-secondary-color: #{$jet};
  --alternative-active-color: #{$lightning-yellow};
  --accentuated-color: #{$regalia};
  --stronger-accentuated-color: #{$american-purple};
  --lighter-reverse-color: #{$philippine-silver};
  --reverse-color: #{$anti-flash-white};

  /* constant colors */
  --dark-color: #{$dark-liver};
  --light-color: #{$anti-flash-white};
}

body.dark {
  /* general app elements colors */
  --app-background-color: #{$raisin-black};
  --element-background-color: #{$jet};
  --element-border-color: #{$quartz};
  --secondary-element-background-color: #{$lightning-yellow};
  --icon-fill: #{$silver-foil};
  --input-border-color: #{$silver-foil};
  --divider-color: #{$silver-foil};
  --header-background-color: #{$jet};
  --header-border-color: #{$quartz};
  --scroll-top-background-color: #{$jet};
  --scroll-top-icon-fill: #{$lightning-yellow};

  /* text */
  --text-color: #{$anti-flash-white};
  --stronger-text-color: #{$concrete};
  --secondary-text-color: #{$dandelion};
  --subtle-text-color: #{$silver-foil};
  --stronger-subtle-text-color: #{$philippine-silver};

  /* general state and colors */
  --inactive-color: #{$dim-gray};
  --success-color: #{$crayola};
  --danger-color: #{$bittersweet};
  --strong-danger-color: #{$whero-red};
  --active-color: #{$lightning-yellow};
  --active-secondary-color: #{$jet};
  --alternative-active-color: #{$dandelion};
  --accentuated-color: #{$lightning-yellow};
  --stronger-accentuated-color: #{$american-purple};
  --lighter-reverse-color: #{$philippine-silver};
  --reverse-color: #{$dark-liver};

  /* constant colors */
  --dark-color: #{$dark-liver};
  --light-color: #{$anti-flash-white};
}

/* sr indicator colors */
body.light,
body.dark {
  --sr-indicator-stage-1: #0000dc;
  --sr-indicator-stage-2: #00817d;
  --sr-indicator-stage-3: #238e24;
  --sr-indicator-stage-4: #afd510;
  --sr-indicator-stage-5: #fce72c;
  --sr-indicator-stage-6: #ffca2c;
  --sr-indicator-stage-7: #fc7300;
  --sr-indicator-stage-8: #f32a00;
  --sr-indicator-stage-9: #da0000;
  --sr-indicator-stage-10: #b10067;
  --sr-indicator-stage-11: #54267b;
}

/* stylelint-disable-next-line no-duplicate-selectors */
body.dark {
  --sr-indicator-stage-1: #5858ff;
  --sr-indicator-stage-11: #8d39d6;
}

/* =========================== */
// body.light {
//   /* icon */
//   --icon-fill: #{$dark-liver};
//   --icon-pale-fill: #{$gainsboro};
//   --icon-positive-fill: #{$crayola};
//   --icon-danger-fill: #{$bittersweet};
//   --icon-highlighted-fill: #{$lightning-yellow};
//   /* app */
//   --app-background-color: #{$concrete};
//   --element-background-color: #{$lotion};
//   --element-border-color: #{$gainsboro};
//   --accentuated-element-background-color: #{$regalia};
//   --accentuated-element-border-color: #{$american-purple};
//   --secondary-element-background-color: #{$jade};
//   --highlighted-element-background-color: #{$lightning-yellow};
//   --highlighted-element-border-color: #{$lightning-yellow};
//   --strong-element-border-color: #{$jet};
//   --divider-color: #{$philippine-silver};
//   --danger-border-color: #{$bittersweet};
//   /* text */
//   --text-color: #{$dark-liver};
//   --strong-text-color: #{$jet};
//   --accentuated-text-color: #{$regalia};
//   --strong-accentuated-text-color: #{$american-purple};
//   --diffused-text-color: #{$regalia};
//   --highlighted-text-color: #{$lightning-yellow};
//   --active-text-color: #{jet};
//   --subtle-text-color: #{$cadet-grey};
//   --strong-subtle-text-color: #{$dim-gray};
//   --reverse-text-color: #{$lotion};
//   --danger-text-color: #{$bittersweet};
// }
// body.dark {
//   /* icon */
//   --icon-fill: #{$silver-foil};
//   --icon-pale-fill: #{$dim-gray};
//   --icon-positive-fill: #{$crayola}; // not changed
//   --icon-danger-fill: #{$bittersweet}; // not changed
//   --icon-highlighted-fill: #{$lightning-yellow};
//   /* app */
//   --app-background-color: #{$raisin-black};
//   --element-background-color: #{$jet};
//   --element-border-color: #{$quartz};
//   --accentuated-element-background-color: #{$jet};
//   --accentuated-element-border-color: #{$quartz};
//   --secondary-element-background-color: #{$jade}; // not changed
//   --highlighted-element-background-color: #{$lightning-yellow};
//   --highlighted-element-border-color: #{$lightning-yellow};
//   --strong-element-border-color: #{$silver-foil}; // not changed
//   --divider-color: #{$silver-foil};
//   --danger-border-color: #{$bittersweet};
//   /* text */
//   --text-color: #{$anti-flash-white};
//   --strong-text-color: #{$concrete};
//   --accentuated-text-color: #{$lightning-yellow};
//   --strong-accentuated-text-color: #{$american-purple}; // not changed
//   --diffused-text-color: #{$dandelion};
//   --highlighted-text-color: #{$lightning-yellow};
//   --active-text-color: #{$jet};
//   --subtle-text-color: #{$silver-foil};
//   --strong-subtle-text-color: #{$philippine-silver};
//   --reverse-text-color: #{$lotion}; // not changed
//   --danger-text-color: #{$bittersweet};
// }
