//main: styles.less

$black: #2b2a2c;
$grey: rgb(78, 78, 78);
$grey-lighter: #97a5aa;
$grey-light: #f0f0f0;
$grey-medium: #c7c7c7;
$white: #ffffff;
$tertiary: #ffcd1f;
$secondary: #00ad57; //  3ccfcf // 53d853
$primary-pale: #d5c8e0; // c6cce8
$primary: #54267b; //  4257b2  // 4b2a77 // 54267b
$primary-drak: #431c64;
$palered: #ffd4cd;
$red: #ff725b;
$palegreen: #bde8d3;
$green: #23b26d;

$mobile-sm: 350px; //565px
$mobile-m: 450px;
$mobile: 620px; //767px
$tablet-sm: 767px; //767px
$tablet: 991px;
$notebook: 1199px;

$h-mobile-sm: 350px; //565px
$h-mobile: 620px; //767px
$h-tablet: 840px;
