@import "@styles/vars";

.addcard {
  padding: 3rem 2rem;
  border: 1px solid var(--element-border-color);
  background-color: var(--element-background-color);
  text-align: center;
}

.save {
  padding-bottom: 2rem;
}

.save_module {
  text-align: center;

  @media (max-width: $mobile-sm) {
    text-align: left;
  }
}
