@import "@styles/vars";

.round {
  width: 100%;
  padding: 2.5rem 4rem;
  border: 1px solid var(--element-border-color);
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: var(--element-background-color);

  &:focus {
    outline: none;
  }

  @media (max-width: $mobile) {
    padding: 1.5rem 3rem;
  }
}

.title {
  margin-bottom: 2.5rem;
}

.body {
  margin-bottom: 3rem;
}

.continue {
  text-align: center;

  button {
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: var(--secondary-element-background-color);
    color: var(--reverse-color);
    font-size: 1.5rem;

    @media (max-width: $mobile) {
      padding: 1rem 2rem;
    }

    &:hover {
      background-color: var(--alternative-active-color);
      color: var(--active-secondary-color);
    }
  }
}
