@import '@styles/vars.scss';

.question,
.answer {
  position: absolute;
}

.question {
  left: 1rem;
  top: 1rem;
}

.answer {
  right: 4rem;
  top: 2.5rem;

  @media (max-width: $mobile) {
    top: 2rem;
    right: 3rem;
  }

  :global(.tooltip__tooltip) {
    left: -21rem;
    top: -1rem;
  }
}
