@import "@styles/vars.scss";

.container {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  margin-right: auto;

  @media (max-width: $tablet) {
    justify-content: flex-start;
    order: 3;
    margin-right: 0;
    margin-left: auto;
  }
}

.counter {
  display: flex;
  height: 3.5rem;
  align-items: stretch;
  border-radius: 5px;
  font-size: 2rem;
  line-height: 1;
  text-align: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.number {
  &:global(.input__container) {
    width: 4rem;
    height: 3.5rem;
    border-bottom: 2px solid $primary;
  }

  :global(.input__input) {
    height: 100%;
    appearance: textfield;
    font-size: 1.75rem;
    text-align: center;
  }

  :global(.input__input)::-webkit-inner-spin-button,
  :global(.input__input)::-webkit-outer-spin-button {
    appearance: none;
  }
}

.subtract {
  margin-right: 0.5rem;

  &::after {
    width: 1.8rem;
    height: 0.4rem;
  }
}

.add {
  margin-left: 0.5rem;

  &::before {
    width: 0.4rem;
    height: 1.8rem;
  }

  &::after {
    width: 1.8rem;
    height: 0.4rem;
  }
}

.subtract,
.add {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: $primary;
  color: $white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
  user-select: none;

  &::before,
  &::after {
    position: absolute;
    border-radius: 0.25rem;
    background-color: $white;
    content: "";
    transition: all 0.2s;
  }

  &:hover {
    border-color: $tertiary;
    background-color: $tertiary;
    color: $black;

    &::before,
    &::after {
      background-color: $grey;
    }
  }
}
