@import "@styles/vars.scss";

.scrape {
  display: flex;
  border-top: 2px solid $grey-light;
  padding: 1rem 2rem;

  &[data-loading="true"] {
    .button {
      cursor: auto;

      .background {
        filter: grayscale(100%);
      }

      &:hover span {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }
}

.background {
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button {
  width: 4rem;
  height: 4rem;

  position: relative;

  cursor: pointer;

  transition: all 0.3s ease;

  margin-right: 1rem;

  &.cod {
    .background {
      background-image: url(~/public/img/cod-logo.png);
    }
  }

  &.urban {
    .background {
      border-radius: 50%;
      background-image: url(~/public/img/urban-logo.jpg);
    }
  }

  :global(.tooltip__tooltip) {
    color: $primary;
    width: max-content;

    top: -3rem;
  }

  &:hover span {
    opacity: 1;
  }

  &::after {
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    border-radius: 50%;
    border: 3px solid $tertiary;
    border-right: 3px solid transparent;
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.82);

    animation: spin 1.75s linear infinite;
    transition: all 0.3s ease;

    opacity: 0;
  }

  @media (max-width: $mobile) {
    span {
      display: none !important;
    }
  }
}
